mesa-libGL
mesa-dri-drivers
libice
libselinux
libsm
libX11
libXcomposite
libXcursor
libXdamage
libXext
libXfixes
libXi
libXinerama
libXrandr
libXxf86vm
xcb-util
xcb-util-image
xcb-util-keysyms
xcb-util-renderutil
xcb-util-wm
xorg-x11-server-Xvfb
