/configure
/Makefile.in
/config.log
/config.h
/ltmain.sh
/Makefile
/config.status
/stamp-h1
/config.h.in
/autom4te.cache
/libtool
/missing
/aclocal.m4
/install-sh
/depcomp
/py-compile
/compile
/build
/run_tests.sh
/*-stamp
