#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
.*
*.o
*.a
*.ko
*.so
*.la
*.lo
*.py[oc]
*.gz
*.exe
*.patch
*~
\#*#
.deps
.libs
guile.log
TAGS
*-stamp
!.gitattributes
!.gitignore
make.log
/configure
/Makefile.in
/config.log
/config.h
/ltmain.sh
/Makefile
/config.status
/stamp-h1
/config.h.in
/autom4te.cache
/libtool
/missing
/aclocal.m4
/install-sh
/depcomp
/py-compile
/compile
/build
/run_tests.sh
/setup_guile_test_env
###
### Put these here until we get this all sorted out
###
gr-atsc/src/lib/atsc.scm
gr-atsc/src/lib/gnuradio/
gr-atsc/src/lib/guile/
gr-atsc/src/lib/python/
gr-audio-alsa/src/audio_alsa.scm
gr-audio-alsa/src/gnuradio/
gr-audio-alsa/src/guile/
gr-audio-alsa/src/python/
gr-audio-oss/src/audio_oss.scm
gr-audio-oss/src/gnuradio/
gr-audio-oss/src/guile/
gr-audio-oss/src/python/
gr-cvsd-vocoder/src/lib/cvsd_vocoder.scm
gr-cvsd-vocoder/src/lib/gnuradio/
gr-cvsd-vocoder/src/lib/guile/
gr-cvsd-vocoder/src/lib/python/
gr-gsm-fr-vocoder/src/lib/gnuradio/
gr-gsm-fr-vocoder/src/lib/gsm_full_rate.scm
gr-gsm-fr-vocoder/src/lib/guile/
gr-gsm-fr-vocoder/src/lib/python/
gr-msdd6000/src/gnuradio/
gr-msdd6000/src/guile/
gr-msdd6000/src/msdd.scm
gr-msdd6000/src/msdd_rs.scm
gr-msdd6000/src/python/
gr-noaa/swig/gnuradio/
gr-noaa/swig/guile/
gr-noaa/swig/noaa_swig.scm
gr-noaa/swig/python/
gr-pager/swig/gnuradio/
gr-pager/swig/guile/
gr-pager/swig/pager_swig.scm
gr-pager/swig/python/
gr-qtgui/src/lib/gnuradio/
gr-qtgui/src/lib/guile/
gr-qtgui/src/lib/python/
gr-qtgui/src/lib/qtgui.scm
gr-radio-astronomy/src/lib/gnuradio/
gr-radio-astronomy/src/lib/guile/
gr-radio-astronomy/src/lib/python/
gr-radio-astronomy/src/lib/ra.scm
gr-trellis/src/lib/gnuradio/
gr-trellis/src/lib/guile/
gr-trellis/src/lib/python/
gr-trellis/src/lib/trellis.scm
gr-uhd/swig/guile/
gr-uhd/swig/python/
gr-uhd/swig/uhd_swig.scm
gr-usrp/src/guile/
gr-usrp/src/python/
gr-usrp2/src/gnuradio/
gr-usrp2/src/guile/
gr-usrp2/src/python/
gr-usrp2/src/usrp2.scm
gr-video-sdl/src/gnuradio/
gr-video-sdl/src/guile/
gr-video-sdl/src/python/
gr-video-sdl/src/video_sdl.scm
usrp/host/swig/gnuradio/
usrp/host/swig/guile/
usrp/host/swig/python/
###
