/Makefile
/Makefile.in
/.la
/.lo
/.deps
/.libs
/*.la
/*.lo
/*.swp
/*.dat
/test_fusb
/std_paths.h
/usrp_dbid.py
/usrp_dbid.h
/usrp_dbid.cc
/usrp_server_mbh.cc
/test_inband
/test_usrp_inband
/test_usrp_tx
/*_mbh.cc
