*~
/*-stamp
/*.a
/*.bin
/*.dump
/*.log
/*.rom
/.deps
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/blink_leds
/blink_leds2
/build
/compile
/config.h
/config.h.in
/config.log
/config.status
/configure
/depcomp
/eth_test
/gen_eth_packets
/ibs_rx_test
/ibs_tx_test
/install-sh
/libtool
/ltmain.sh
/missing
/py-compile
/rcv_eth_packets
/run_tests.sh
/stamp-h1
/test1
/test_phy_comm
/timer_test
/buf_ram_test
/buf_ram_zero
/hello
