*~
/xst
/_ngo
/_xmsgs
/*.stx
/*.tspec
/*.xml
/*.gyd
/*.ngr
/*.tim
/*.err
/*.lso
/*.bld
/*.cmd_log
/*.ise_ISE_Backup
/*.mfd
/*.vm6
/*.syr
/*.xst
/*.csv
/*.html
/*.jed
/*.pad
/*.ng*
/*.pnx
/*.rpt
/*.prj
/*_html
/*_log
/*.lfp
/*.bit
/*.bin
/*.vcd
/*.unroutes
/*.drc
/*_map.*
/*_guide.*
/*.twr
/*.twx
/a.out
/*.xpi
/*_pad.txt
/*.bgn
/*.par
