NET "DAC_LOCK"  LOC = "P4"  ;
NET "ADC_clkout_p"  LOC = "P1"  ;
NET "ADC_clkout_n"  LOC = "P2"  ;
NET "io_rx_15"  LOC = "AD1"  ;
NET "io_rx_14"  LOC = "AD2"  ;
NET "io_rx_13"  LOC = "AC2"  ;
NET "io_rx_12"  LOC = "AC3"  ;
NET "io_rx_11"  LOC = "W7"  ;
NET "io_rx_10"  LOC = "W6"  ;
NET "io_rx_09"  LOC = "U9"  ;
NET "io_rx_08"  LOC = "V8"  ;
NET "io_rx_07"  LOC = "AB1"  ;
NET "io_rx_06"  LOC = "AC1"  ;
NET "io_rx_05"  LOC = "V7"  ;
NET "io_rx_04"  LOC = "V6"  ;
NET "io_rx_03"  LOC = "Y5"  ;
NET "ADCB_2_3_p"  LOC = "U7"  ;
NET "ADCB_2_3_n"  LOC = "U8"  ;
NET "ADCB_0_1_p"  LOC = "AA2"  ;
NET "ADCB_0_1_n"  LOC = "AA3"  ;
NET "ADCA_12_13_p"  LOC = "Y1"  ;
NET "ADCA_12_13_n"  LOC = "Y2"  ;
NET "ADCA_10_11_p"  LOC = "W3"  ;
NET "ADCA_10_11_n"  LOC = "W4"  ;
NET "ADCA_8_9_p"  LOC = "T7"  ;
NET "ADCA_8_9_n"  LOC = "U6"  ;
NET "ADCA_6_7_p"  LOC = "U5"  ;
NET "ADCA_6_7_n"  LOC = "V5"  ;
NET "ADCA_4_5_p"  LOC = "T10"  ;
NET "ADCA_4_5_n"  LOC = "T9"  ;
NET "ADCA_2_3_p"  LOC = "V1"  ;
NET "ADCA_2_3_n"  LOC = "V2"  ;
NET "ADCA_0_1_p"  LOC = "R8"  ;
NET "ADCA_0_1_n"  LOC = "R7"  ;
NET "TX00_A"  LOC = "P8"  ;
NET "TX01_A"  LOC = "P9"  ;
NET "TX02_A"  LOC = "R5"  ;
NET "TX03_A"  LOC = "R6"  ;
NET "TX04_A"  LOC = "P7"  ;
NET "TX05_A"  LOC = "P6"  ;
NET "TX06_A"  LOC = "T3"  ;
NET "TX07_A"  LOC = "T4"  ;
NET "TX08_A"  LOC = "R3"  ;
NET "TX09_A"  LOC = "R4"  ;
NET "TX10_A"  LOC = "R2"  ;
NET "TX11_A"  LOC = "N1"  ;
NET "TX12_A"  LOC = "N2"  ;
NET "TX13_A"  LOC = "N5"  ;
NET "TX14_A"  LOC = "N4"  ;
NET "TX15_A"  LOC = "M2"  ;
NET "TX00_B"  LOC = "M5"  ;
NET "TX01_B"  LOC = "M6"  ;
NET "TX02_B"  LOC = "M4"  ;
NET "TX03_B"  LOC = "M3"  ;
NET "TX04_B"  LOC = "M8"  ;
NET "TX05_B"  LOC = "M7"  ;
NET "TX06_B"  LOC = "L4"  ;
NET "TX07_B"  LOC = "L3"  ;
NET "TX08_B"  LOC = "K3"  ;
NET "TX09_B"  LOC = "K2"  ;
NET "TX10_B"  LOC = "K5"  ;
NET "TX11_B"  LOC = "K4"  ;
NET "TX12_B"  LOC = "M10"  ;
NET "TX13_B"  LOC = "M9"  ;
NET "TX14_B"  LOC = "J5"  ;
NET "TX15_B"  LOC = "J4"  ;
NET "io_tx_15"  LOC = "K6"  ;
NET "io_tx_14"  LOC = "L7"  ;
NET "io_tx_13"  LOC = "H2"  ;
NET "io_tx_12"  LOC = "H1"  ;
NET "io_tx_11"  LOC = "L10"  ;
NET "io_tx_10"  LOC = "L9"  ;
NET "io_tx_09"  LOC = "G3"  ;
NET "io_tx_08"  LOC = "F3"  ;
NET "io_tx_07"  LOC = "K7"  ;
NET "io_tx_06"  LOC = "J6"  ;
NET "io_tx_05"  LOC = "E1"  ;
NET "io_tx_04"  LOC = "F2"  ;
NET "io_tx_03"  LOC = "J7"  ;
NET "io_tx_02"  LOC = "H6"  ;
NET "io_tx_01"  LOC = "F5"  ;
NET "io_tx_00"  LOC = "G4"  ;
NET "MOSI_RX_ADC"  LOC = "E3"  ;
NET "SCLK_RX_ADC"  LOC = "F4"  ;
NET "SEN_RX_ADC"  LOC = "D3"  ;
NET "SCLK_RX_DAC"  LOC = "E4"  ;
NET "SEN_RX_DAC"  LOC = "K9"  ;
NET "MOSI_RX_DAC"  LOC = "K8"  ;
NET "SCLK_RX_DB"  LOC = "G6"  ;
NET "MOSI_RX_DB"  LOC = "H7"  ;
NET "SEN_RX_DB"  LOC = "B2"  ;
NET "SCLK_ADC"  LOC = "B1"  ;
NET "MOSI_ADC"  LOC = "J8"  ;
NET "SEN_ADC"  LOC = "J9"  ;
NET "ADCB_4_5_p"  LOC = "AE1"  ;
NET "ADCB_4_5_n"  LOC = "AE2"  ;
NET "ADCB_6_7_p"  LOC = "W1"  ;
NET "ADCB_6_7_n"  LOC = "W2"  ;
NET "ADCB_8_9_p"  LOC = "U3"  ;
NET "ADCB_8_9_n"  LOC = "V4"  ;
NET "ADCB_10_11_p"  LOC = "J1"  ;
NET "ADCB_10_11_n"  LOC = "K1"  ;
NET "ADCB_12_13_p"  LOC = "J3"  ;
NET "ADCB_12_13_n"  LOC = "J2"  ;
NET "MISO_RX_DB"  LOC = "H4"  ;
NET "MISO_RX_ADC"  LOC = "C1"  ;
NET "MISO_TX_DB"  LOC = "AA5"  ;
NET "MISO_DAC"  LOC = "Y3"  ;
NET "MISO_TX_ADC"  LOC = "G1"  ;
NET "io_rx_02"  LOC = "R10"  ;
NET "io_rx_01"  LOC = "R1"  ;
NET "io_rx_00"  LOC = "M1"  ;
NET "exp_user_out_p"  LOC = "AF14"  ;
NET "exp_user_out_n"  LOC = "AE14"  ;
NET "exp_time_out_p"  LOC = "Y14"  ;
NET "exp_time_out_n"  LOC = "AA14"  ;
NET "CLK_FPGA_P"  LOC = "AA13"  ;
NET "CLK_FPGA_N"  LOC = "Y13"  ;
NET "LED5"  LOC = "AF25"  ;
NET "LED4"  LOC = "AE25"  ;
NET "LED3"  LOC = "AF23"  ;
NET "LED2"  LOC = "AE23"  ;
NET "LED1"  LOC = "AB18"  ;
NET "SEN_CLK"  LOC = "AA18"  ;
NET "MOSI_CLK"  LOC = "W17"  ;
NET "SCLK_CLK"  LOC = "V17"  ;
NET "CLK_STATUS"  LOC = "AD22"  ;
NET "CLK_FUNC"  LOC = "AC21"  ;
NET "clk_sel0"  LOC = "AE21"  ;
NET "clk_sel1"  LOC = "AD21"  ;
NET "clk_en1"  LOC = "AA17"  ;
NET "clk_en0"  LOC = "Y17"  ;
NET "SDA"  LOC = "V16"  ;
NET "SCL"  LOC = "U16"  ;
NET "TXD3"  LOC = "AD20"  ;
NET "TXD2"  LOC = "AC20"  ;
NET "TXD1"  LOC = "AD19"  ;
NET "debug_00"  LOC = "AC19"  ;
NET "debug_01"  LOC = "AF20"  ;
NET "debug_02"  LOC = "AE20"  ;
NET "debug_03"  LOC = "AC16"  ;
NET "debug_04"  LOC = "AB16"  ;
NET "debug_05"  LOC = "AF19"  ;
NET "debug_06"  LOC = "AE19"  ;
NET "debug_07"  LOC = "V15"  ;
NET "debug_08"  LOC = "U15"  ;
NET "debug_09"  LOC = "AE17"  ;
NET "debug_10"  LOC = "AD17"  ;
NET "debug_11"  LOC = "V14"  ;
NET "debug_12"  LOC = "W15"  ;
NET "debug_13"  LOC = "AC15"  ;
NET "debug_14"  LOC = "AD14"  ;
NET "debug_15"  LOC = "AC14"  ;
NET "debug_clk1"  LOC = "AD11"  ;
NET "debug_16"  LOC = "AC11"  ;
NET "debug_17"  LOC = "AB12"  ;
NET "debug_18"  LOC = "AC12"  ;
NET "debug_19"  LOC = "V13"  ;
NET "debug_20"  LOC = "W13"  ;
NET "debug_21"  LOC = "AE8"  ;
NET "debug_22"  LOC = "AF8"  ;
NET "debug_23"  LOC = "V12"  ;
NET "debug_24"  LOC = "W12"  ;
NET "debug_25"  LOC = "AB9"  ;
NET "debug_26"  LOC = "AC9"  ;
NET "debug_27"  LOC = "AC8"  ;
NET "debug_28"  LOC = "AB7"  ;
NET "debug_29"  LOC = "V11"  ;
NET "debug_30"  LOC = "U11"  ;
NET "debug_31"  LOC = "Y10"  ;
NET "debug_clk0"  LOC = "AA10"  ;
NET "SEN_DAC"  LOC = "AE7"  ;
NET "SCLK_DAC"  LOC = "AF5"  ;
NET "MOSI_DAC"  LOC = "AE6"  ;
NET "MOSI_TX_ADC"  LOC = "V10"  ;
NET "SEN_TX_ADC"  LOC = "W10"  ;
NET "SCLK_TX_ADC"  LOC = "AC6"  ;
NET "MOSI_TX_DAC"  LOC = "AD6"  ;
NET "SEN_TX_DAC"  LOC = "AE4"  ;
NET "SCLK_TX_DAC"  LOC = "AF4"  ;
NET "SCLK_TX_DB"  LOC = "AE3"  ;
NET "MOSI_TX_DB"  LOC = "AF3"  ;
NET "SEN_TX_DB"  LOC = "W9"  ;
NET "RXD3"  LOC = "AF17"  ;
NET "RXD2"  LOC = "AF15"  ;
NET "RXD1"  LOC = "AD12"  ;
NET "MISO_CLK"  LOC = "AC10"  ;
NET "PPS_IN"  LOC = "AB6"  ;
NET "PPS2_IN"  LOC = "AA20"  ;
NET "ser_rx_clk"  LOC = "P18"  ;
NET "unnamed_net140"  LOC = "P23"  ;
NET "CLK_TO_MAC"  LOC = "P26"  ;
NET "GMII_TX_CLK"  LOC = "P25"  ;
NET "GMII_RX_CLK"  LOC = "P21"  ;
NET "ETH_LED"  LOC = "H20"  ;
NET "GMII_TXD7"  LOC = "G21"  ;
NET "GMII_TXD6"  LOC = "C26"  ;
NET "GMII_TXD5"  LOC = "C25"  ;
NET "GMII_TXD4"  LOC = "J21"  ;
NET "GMII_TXD3"  LOC = "H21"  ;
NET "GMII_TXD2"  LOC = "D25"  ;
NET "GMII_TXD1"  LOC = "D24"  ;
NET "GMII_TXD0"  LOC = "E26"  ;
NET "GMII_TX_EN"  LOC = "D26"  ;
NET "GMII_TX_ER"  LOC = "J19"  ;
NET "GMII_GTX_CLK"  LOC = "J20"  ;
NET "GMII_RXD7"  LOC = "G22"  ;
NET "GMII_RXD6"  LOC = "K19"  ;
NET "GMII_RXD5"  LOC = "K18"  ;
NET "GMII_RXD4"  LOC = "E24"  ;
NET "GMII_RXD3"  LOC = "F23"  ;
NET "GMII_RXD2"  LOC = "L18"  ;
NET "GMII_RXD1"  LOC = "L17"  ;
NET "GMII_RXD0"  LOC = "F25"  ;
NET "GMII_RX_DV"  LOC = "F24"  ;
NET "GMII_RX_ER"  LOC = "L20"  ;
NET "GMII_CRS"  LOC = "K20"  ;
NET "GMII_COL"  LOC = "G23"  ;
NET "PHY_INTn"  LOC = "L22"  ;
NET "MDIO"  LOC = "K21"  ;
NET "MDC"  LOC = "J23"  ;
NET "PHY_RESET"  LOC = "J22"  ;
NET "exp_time_in_p"  LOC = "N18"  ;
NET "exp_time_in_n"  LOC = "N17"  ;
NET "exp_user_in_p"  LOC = "L24"  ;
NET "exp_user_in_n"  LOC = "M23"  ;
NET "ser_prbsen"  LOC = "U23"  ;
NET "ser_loopen"  LOC = "R19"  ;
NET "ser_enable"  LOC = "R20"  ;
NET "ser_t15"  LOC = "V23"  ;
NET "ser_t14"  LOC = "U22"  ;
NET "ser_t13"  LOC = "V24"  ;
NET "ser_t12"  LOC = "V25"  ;
NET "ser_t11"  LOC = "W23"  ;
NET "ser_t10"  LOC = "V22"  ;
NET "ser_t09"  LOC = "T18"  ;
NET "ser_t08"  LOC = "T17"  ;
NET "ser_t07"  LOC = "Y24"  ;
NET "ser_t06"  LOC = "Y25"  ;
NET "ser_t05"  LOC = "U21"  ;
NET "ser_t04"  LOC = "T20"  ;
NET "ser_t03"  LOC = "Y22"  ;
NET "ser_t02"  LOC = "Y23"  ;
NET "ser_t01"  LOC = "U19"  ;
NET "ser_t00"  LOC = "U18"  ;
NET "ser_tkmsb"  LOC = "AA24"  ;
NET "ser_tklsb"  LOC = "AA25"  ;
NET "ser_r15"  LOC = "V21"  ;
NET "ser_r14"  LOC = "U20"  ;
NET "ser_r13"  LOC = "AA22"  ;
NET "ser_r12"  LOC = "AA23"  ;
NET "ser_r11"  LOC = "V18"  ;
NET "ser_r10"  LOC = "V19"  ;
NET "ser_r09"  LOC = "AB23"  ;
NET "ser_r08"  LOC = "AC26"  ;
NET "ser_r07"  LOC = "AB26"  ;
NET "ser_r06"  LOC = "AD26"  ;
NET "ser_r05"  LOC = "AC25"  ;
NET "ser_r04"  LOC = "W20"  ;
NET "ser_r03"  LOC = "W21"  ;
NET "ser_r02"  LOC = "AC23"  ;
NET "ser_r01"  LOC = "AC24"  ;
NET "ser_r00"  LOC = "AE26"  ;
NET "ser_rkmsb"  LOC = "AD25"  ;
NET "ser_rklsb"  LOC = "Y20"  ;
NET "ser_rx_en"  LOC = "Y21"  ;
NET "FPGA_RESET"  LOC = "K24"  ;
NET "RAM_D17"  LOC = "F7"  ;
NET "RAM_D16"  LOC = "E7"  ;
NET "RAM_D15"  LOC = "G9"  ;
NET "RAM_D14"  LOC = "H9"  ;
NET "RAM_D13"  LOC = "G10"  ;
NET "RAM_D12"  LOC = "H10"  ;
NET "RAM_D11"  LOC = "A4"  ;
NET "RAM_D10"  LOC = "B4"  ;
NET "RAM_D09"  LOC = "C5"  ;
NET "RAM_D08"  LOC = "D6"  ;
NET "RAM_D07"  LOC = "J11"  ;
NET "RAM_D06"  LOC = "K11"  ;
NET "RAM_D05"  LOC = "B7"  ;
NET "RAM_D04"  LOC = "C7"  ;
NET "RAM_D03"  LOC = "B6"  ;
NET "RAM_D02"  LOC = "C6"  ;
NET "RAM_D01"  LOC = "C8"  ;
NET "RAM_D00"  LOC = "D8"  ;
NET "RAM_ZZ"  LOC = "J12"  ;
NET "RAM_BWDn"  LOC = "D9"  ;
NET "RAM_BWCn"  LOC = "A9"  ;
NET "RAM_BWBn"  LOC = "B9"  ;
NET "RAM_BWAn"  LOC = "G12"  ;
NET "RAM_LDn"  LOC = "H12"  ;
NET "RAM_OEn"  LOC = "C10"  ;
NET "RAM_WEn"  LOC = "D10"  ;
NET "RAM_CLK"  LOC = "A10"  ;
NET "RAM_CENn"  LOC = "B10"  ;
NET "RAM_A00"  LOC = "C11"  ;
NET "RAM_A01"  LOC = "E12"  ;
NET "RAM_A02"  LOC = "F12"  ;
NET "RAM_A03"  LOC = "D13"  ;
NET "RAM_A04"  LOC = "C12"  ;
NET "RAM_A05"  LOC = "A12"  ;
NET "RAM_A06"  LOC = "B12"  ;
NET "RAM_A07"  LOC = "E14"  ;
NET "RAM_A08"  LOC = "F14"  ;
NET "RAM_A09"  LOC = "B15"  ;
NET "RAM_A10"  LOC = "A15"  ;
NET "RAM_A11"  LOC = "D16"  ;
NET "RAM_A12"  LOC = "C15"  ;
NET "RAM_A13"  LOC = "D17"  ;
NET "RAM_A14"  LOC = "C16"  ;
NET "RAM_A15"  LOC = "F15"  ;
NET "RAM_A16"  LOC = "C17"  ;
NET "RAM_A17"  LOC = "B17"  ;
NET "RAM_A18"  LOC = "B18"  ;
NET "RAM_A19"  LOC = "A18"  ;
NET "RAM_A20"  LOC = "D18"  ;
NET "RAM_D35"  LOC = "K16"  ;
NET "RAM_D34"  LOC = "D20"  ;
NET "RAM_D33"  LOC = "C20"  ;
NET "RAM_D32"  LOC = "E21"  ;
NET "RAM_D31"  LOC = "D21"  ;
NET "RAM_D30"  LOC = "C21"  ;
NET "RAM_D29"  LOC = "B21"  ;
NET "RAM_D28"  LOC = "H17"  ;
NET "RAM_D27"  LOC = "G17"  ;
NET "RAM_D26"  LOC = "B23"  ;
NET "RAM_D25"  LOC = "A22"  ;
NET "RAM_D24"  LOC = "D23"  ;
NET "RAM_D23"  LOC = "C23"  ;
NET "RAM_D22"  LOC = "D22"  ;
NET "RAM_D21"  LOC = "C22"  ;
NET "RAM_D20"  LOC = "F19"  ;
NET "RAM_D19"  LOC = "G20"  ;
NET "RAM_D18"  LOC = "F20"  ;
NET "unnamed_net20"  LOC = "V20"  ;
NET "PROG_B"  LOC = "A2"  ;
NET "PUDC_B"  LOC = "G8"  ;
NET "DONE"  LOC = "AB21"  ;
NET "flash_miso"  LOC = "AF24"  ;
NET "flash_clk"  LOC = "AE24"  ;
NET "INIT_B"  LOC = "AA15"  ;
NET "flash_mosi"  LOC = "AB15"  ;
NET "unnamed_net19"  LOC = "AE9"  ;
NET "unnamed_net18"  LOC = "AF9"  ;
NET "unnamed_net17"  LOC = "AA12"  ;
NET "unnamed_net16"  LOC = "Y7"  ;
NET "flash_cs"  LOC = "AA7"  ;
NET "unnamed_net15"  LOC = "AC4"  ;
NET "unnamed_net14"  LOC = "AD4"  ;
NET "unnamed_net13"  LOC = "D4"  ;
NET "unnamed_net12"  LOC = "E23"  ;
NET "unnamed_net11"  LOC = "G7"  ;
NET "unnamed_net10"  LOC = "A25"  ;

