NET "leds[0]"  LOC = "A17"  ; 
NET "leds[1]"  LOC = "B20"  ; 
NET "leds[2]"  LOC = "D13"  ; 
NET "leds[3]"  LOC = "A14"  ; 
NET "leds[4]"  LOC = "W15"  ;
NET "dipsw[0]"  LOC = "C11"  ;
NET "dipsw[1]"  LOC = "F12"  ;
NET "dipsw[2]"  LOC = "E17"  ;
NET "dipsw[3]"  LOC = "E10"  ;
NET "debug[0]"  LOC = "AB19"  ;
NET "debug[1]"  LOC = "AA19"  ;
NET "debug[2]"  LOC = "U14"  ;
NET "debug[3]"  LOC = "U15"  ;
NET "debug[4]"  LOC = "AB17"  ;
NET "debug[5]"  LOC = "AB18"  ;
NET "debug[6]"  LOC = "Y13"  ;
NET "debug[7]"  LOC = "W14"  ;
NET "debug[8]"  LOC = "U13"  ;
NET "debug[9]"  LOC = "AA15"  ;
NET "debug[10]"  LOC = "AB14"  ;
NET "debug[11]"  LOC = "Y8"  ;
NET "debug[12]"  LOC = "Y9"  ;
NET "debug[13]"  LOC = "V7"  ;
NET "debug[14]"  LOC = "U8"  ;
NET "debug[15]"  LOC = "V10"  ;
NET "debug[16]"  LOC = "U9"  ;
NET "debug[17]"  LOC = "AB7"  ;
NET "debug[18]"  LOC = "AA8"  ;
NET "debug[19]"  LOC = "W8"  ;
NET "debug[20]"  LOC = "V8"  ;
NET "debug[21]"  LOC = "AB5"  ;
NET "debug[22]"  LOC = "AB6"  ;
NET "debug[23]"  LOC = "AB4"  ;
NET "debug[24]"  LOC = "AA4"  ;
NET "debug[25]"  LOC = "W5"  ;
NET "debug[26]"  LOC = "Y4"  ;
NET "debug[27]"  LOC = "V11"  ;
NET "debug[28]"  LOC = "U10"  ;
NET "debug[29]"  LOC = "AB10"  ;
NET "debug[30]"  LOC = "AA10"  ;
NET "debug[31]"  LOC = "Y5"  ;
NET "debug_clk[0]"  LOC = "V16"  ;
NET "debug_clk[1]"  LOC = "U16"  ;
NET "uart_tx_o"  LOC = "C19"  ;
NET "uart_rx_i"  LOC = "A20"  ;
NET "exp_pps_in_p"  LOC = "AA17"  ; 
NET "exp_pps_in_n"  LOC = "AB16"  ; 
NET "exp_pps_out_p"  LOC = "Y18"  ; 
NET "exp_pps_out_n"  LOC = "Y19"  ; 
NET "GMII_COL"  LOC = "J19"  ; 
NET "GMII_CRS"  LOC = "E22"  ; 
NET "GMII_TXD[0]"  LOC = "F22"  | IOSTANDARD = LVCMOS25  | DRIVE = 12  | SLEW = FAST ;
NET "GMII_TXD[1]"  LOC = "G18"  | IOSTANDARD = LVCMOS25  | DRIVE = 12  | SLEW = FAST ;
NET "GMII_TXD[2]"  LOC = "G17"  | IOSTANDARD = LVCMOS25  | DRIVE = 12  | SLEW = FAST ;
NET "GMII_TXD[3]"  LOC = "E20"  | IOSTANDARD = LVCMOS25  | DRIVE = 12  | SLEW = FAST ;
NET "GMII_TXD[4]"  LOC = "F21"  | IOSTANDARD = LVCMOS25  | DRIVE = 12  | SLEW = FAST ;
NET "GMII_TXD[5]"  LOC = "E19"  | IOSTANDARD = LVCMOS25  | DRIVE = 12  | SLEW = FAST ;
NET "GMII_TXD[6]"  LOC = "D20"  | IOSTANDARD = LVCMOS25  | DRIVE = 12  | SLEW = FAST ;
NET "GMII_TXD[7]"  LOC = "D22"  | IOSTANDARD = LVCMOS25  | DRIVE = 12  | SLEW = FAST ;
NET "GMII_TX_EN"  LOC = "D21" | IOSTANDARD = LVCMOS25  | DRIVE = 12  | SLEW = FAST ; 
NET "GMII_TX_ER"  LOC = "F19" | IOSTANDARD = LVCMOS25  | DRIVE = 12  | SLEW = FAST ; 
NET "GMII_GTX_CLK"  LOC = "F18" | IOSTANDARD = LVCMOS25  | DRIVE = 12  | SLEW = FAST ; 
NET "GMII_TX_CLK"  LOC = "L20"  ; 
NET "GMII_RXD[0]"  LOC = "K17"  ;
NET "GMII_RXD[1]"  LOC = "L18"  ;
NET "GMII_RXD[2]"  LOC = "J22"  ;
NET "GMII_RXD[3]"  LOC = "J21"  ;
NET "GMII_RXD[4]"  LOC = "G20"  ;
NET "GMII_RXD[5]"  LOC = "H21"  ;
NET "GMII_RXD[6]"  LOC = "C21"  ;
NET "GMII_RXD[7]"  LOC = "C22"  ;
NET "GMII_RX_CLK"  LOC = "L21"  ; 
NET "GMII_RX_DV"  LOC = "G19"  ; 
NET "GMII_RX_ER"  LOC = "F20"  ; 
NET "MDIO"  LOC = "H22" | PULLUP ; 
NET "MDC"  LOC = "G22"  ; 
NET "PHY_INTn"  LOC = "H20"  ; 
NET "PHY_RESETn"  LOC = "J17"  ; 
NET "PHY_CLK"  LOC = "M18"  ; 
NET "clk_to_mac"  LOC = "L17"  ; 
NET "eth_led"  LOC = "K16"  ;
NET "ser_enable"  LOC = "Y21"  ; 
NET "ser_prbsen"  LOC = "U19"  ; 
NET "ser_loopen"  LOC = "U18"  ; 
NET "ser_rx_en"  LOC = "AA22"  ; 
NET "ser_tx_clk"  LOC = "J20" | IOSTANDARD = LVCMOS25  | DRIVE = 12  | SLEW = FAST ; 
NET "ser_t[0]"  LOC = "U20"  | IOSTANDARD = LVCMOS25  | DRIVE = 12  | SLEW = FAST ;
NET "ser_t[1]"  LOC = "R18"  | IOSTANDARD = LVCMOS25  | DRIVE = 12  | SLEW = FAST ;
NET "ser_t[2]"  LOC = "P19"  | IOSTANDARD = LVCMOS25  | DRIVE = 12  | SLEW = FAST ;
NET "ser_t[3]"  LOC = "U22"  | IOSTANDARD = LVCMOS25  | DRIVE = 12  | SLEW = FAST ;
NET "ser_t[4]"  LOC = "P16"  | IOSTANDARD = LVCMOS25  | DRIVE = 12  | SLEW = FAST ;
NET "ser_t[5]"  LOC = "N17"  | IOSTANDARD = LVCMOS25  | DRIVE = 12  | SLEW = FAST ;
NET "ser_t[6]"  LOC = "P22"  | IOSTANDARD = LVCMOS25  | DRIVE = 12  | SLEW = FAST ;
NET "ser_t[7]"  LOC = "R22"  | IOSTANDARD = LVCMOS25  | DRIVE = 12  | SLEW = FAST ;
NET "ser_t[8]"  LOC = "N19"  | IOSTANDARD = LVCMOS25  | DRIVE = 12  | SLEW = FAST ;
NET "ser_t[9]"  LOC = "N20"  | IOSTANDARD = LVCMOS25  | DRIVE = 12  | SLEW = FAST ;
NET "ser_t[10]"  LOC = "M22"  | IOSTANDARD = LVCMOS25  | DRIVE = 12  | SLEW = FAST ;
NET "ser_t[11]"  LOC = "N22"  | IOSTANDARD = LVCMOS25  | DRIVE = 12  | SLEW = FAST ;
NET "ser_t[12]"  LOC = "K22"  | IOSTANDARD = LVCMOS25  | DRIVE = 12  | SLEW = FAST ;
NET "ser_t[13]"  LOC = "L22"  | IOSTANDARD = LVCMOS25  | DRIVE = 12  | SLEW = FAST ;
NET "ser_t[14]"  LOC = "K18"  | IOSTANDARD = LVCMOS25  | DRIVE = 12  | SLEW = FAST ;
NET "ser_t[15]"  LOC = "K19"  | IOSTANDARD = LVCMOS25  | DRIVE = 12  | SLEW = FAST ;
NET "ser_tklsb"  LOC = "K20" | IOSTANDARD = LVCMOS25  | DRIVE = 12  | SLEW = FAST ; 
NET "ser_tkmsb"  LOC = "H18" | IOSTANDARD = LVCMOS25  | DRIVE = 12  | SLEW = FAST ; 
NET "ser_rx_clk"  LOC = "N21"  ; 
NET "ser_r[0]"  LOC = "T22"  ;
NET "ser_r[1]"  LOC = "W20"  ;
NET "ser_r[2]"  LOC = "W21"  ;
NET "ser_r[3]"  LOC = "U21"  ;
NET "ser_r[4]"  LOC = "V22"  ;
NET "ser_r[5]"  LOC = "P17"  ;
NET "ser_r[6]"  LOC = "R17"  ;
NET "ser_r[7]"  LOC = "P20"  ;
NET "ser_r[8]"  LOC = "R21"  ;
NET "ser_r[9]"  LOC = "V20"  ;
NET "ser_r[10]"  LOC = "W19"  ;
NET "ser_r[11]"  LOC = "T17"  ;
NET "ser_r[12]"  LOC = "T18"  ;
NET "ser_r[13]"  LOC = "Y22"  ;
NET "ser_r[14]"  LOC = "W22"  ;
NET "ser_r[15]"  LOC = "R20"  ;
NET "ser_rklsb"  LOC = "R19"  ;
NET "ser_rkmsb"  LOC = "T20"  ; 
NET "adc_a[0]"  LOC = "P3"  ;
NET "adc_a[1]"  LOC = "N3"  ;
NET "adc_a[2]"  LOC = "AA1"  ;
NET "adc_a[3]"  LOC = "Y2"  ;
NET "adc_a[4]"  LOC = "C5"  ;
NET "adc_a[5]"  LOC = "E6"  ;
NET "adc_a[6]"  LOC = "C7"  ;
NET "adc_a[7]"  LOC = "E8"  ;
NET "adc_a[8]"  LOC = "F8"  ;
NET "adc_a[9]"  LOC = "A4"  ;
NET "adc_a[10]"  LOC = "B4"  ;
NET "adc_a[11]"  LOC = "C4"  ;
NET "adc_a[12]"  LOC = "D5"  ;
NET "adc_a[13]"  LOC = "A3"  ;
NET "adc_ovf_a"  LOC = "B3"  ; 
NET "adc_oen_a"  LOC = "A6"  ; 
NET "adc_pdn_a"  LOC = "D7"  ; 
NET "adc_b[0]"  LOC = "J1"  ;
NET "adc_b[1]"  LOC = "M1"  ;
NET "adc_b[2]"  LOC = "P4"  ;
NET "adc_b[3]"  LOC = "E1"  ;
NET "adc_b[4]"  LOC = "D1"  ;
NET "adc_b[5]"  LOC = "D4"  ;
NET "adc_b[6]"  LOC = "D3"  ;
NET "adc_b[7]"  LOC = "J7"  ;
NET "adc_b[8]"  LOC = "J6"  ;
NET "adc_b[9]"  LOC = "J4"  ;
NET "adc_b[10]"  LOC = "J3"  ;
NET "adc_b[11]"  LOC = "N4"  ;
NET "adc_b[12]"  LOC = "M3"  ;
NET "adc_b[13]"  LOC = "U3"  ;
NET "adc_ovf_b"  LOC = "T3"  ; 
NET "adc_oen_b"  LOC = "B6"  ; 
NET "adc_pdn_b"  LOC = "A5"  ; 
NET "dac_a[0]"  LOC = "N5"  ;
NET "dac_a[1]"  LOC = "N1"  ;
NET "dac_a[2]"  LOC = "K2"  ;
NET "dac_a[3]"  LOC = "K3"  ;
NET "dac_a[4]"  LOC = "K6"  ;
NET "dac_a[5]"  LOC = "L5"  ;
NET "dac_a[6]"  LOC = "H2"  ;
NET "dac_a[7]"  LOC = "K4"  ;
NET "dac_a[8]"  LOC = "K5"  ;
NET "dac_a[9]"  LOC = "G1"  ;
NET "dac_a[10]"  LOC = "H1"  ;
NET "dac_a[11]"  LOC = "H5"  ;
NET "dac_a[12]"  LOC = "H6"  ;
NET "dac_a[13]"  LOC = "E3"  ;
NET "dac_a[14]"  LOC = "E4"  ;
NET "dac_a[15]"  LOC = "G5"  ;
NET "dac_b[0]"  LOC = "G6"  ;
NET "dac_b[1]"  LOC = "F2"  ;
NET "dac_b[2]"  LOC = "F1"  ;
NET "dac_b[3]"  LOC = "H3"  ;
NET "dac_b[4]"  LOC = "H4"  ;
NET "dac_b[5]"  LOC = "F4"  ;
NET "dac_b[6]"  LOC = "F5"  ;
NET "dac_b[7]"  LOC = "C2"  ;
NET "dac_b[8]"  LOC = "C1"  ;
NET "dac_b[9]"  LOC = "F3"  ;
NET "dac_b[10]"  LOC = "G3"  ;
NET "dac_b[11]"  LOC = "M6"  ;
NET "dac_b[12]"  LOC = "N7"  ;
NET "dac_b[13]"  LOC = "L3"  ;
NET "dac_b[14]"  LOC = "M2"  ;
NET "dac_b[15]"  LOC = "K1"  ;
NET "dac_lock"  LOC = "L1"  ;
NET "SCL"  LOC = "B19"  ; 
NET "SDA"  LOC = "B17"  ; 
NET "clk_en[0]"  LOC = "AB20"  ;
NET "clk_en[1]"  LOC = "AA20"  ;
NET "clk_sel[0]"  LOC = "Y17"  ;
NET "clk_sel[1]"  LOC = "Y16"  ;
NET "clk_func"  LOC = "W13"  ; 
NET "clk_status"  LOC = "W18"  ;
NET "clk_fpga_p"  LOC = "AA12"  ; 
NET "clk_fpga_n"  LOC = "AB12"  ; 
NET "pps_in"  LOC = "Y14"  ; 
NET "POR"  LOC = "AB15"  ;
NET "sclk"  LOC = "AA14"  ; 
NET "sen_clk"  LOC = "AB13"  ; 
NET "sdi"  LOC = "V12"  ; 
NET "sdo"  LOC = "U12"  ; 
NET "sen_dac"  LOC = "W2"  ; 
NET "sen_tx_db"  LOC = "W3"  ; 
NET "sen_tx_adc"  LOC = "U5"  ; 
NET "sen_tx_dac"  LOC = "U4"  ; 
NET "mosi_tx"  LOC = "V4"  ;
NET "miso_dac"  LOC = "M5"  ;
NET "miso_tx_db"  LOC = "W1"  ;
NET "miso_tx_adc"  LOC = "Y1"  ;
NET "sclk_tx"  LOC = "V3"  ;
NET "sen_rx_db"  LOC = "B9"  ; 
NET "sclk_rx_db"  LOC = "B8"  ; 
NET "sdo_rx_db"  LOC = "A10"  ; 
NET "sdi_rx_db"  LOC = "E12"  ; 
NET "sen_rx_adc"  LOC = "A9"  ; 
NET "sclk_rx_adc"  LOC = "A8"  ; 
NET "sdo_rx_adc"  LOC = "A12"  ; 
NET "sdi_rx_adc"  LOC = "A7"  ; 
NET "sen_rx_dac"  LOC = "E11"  ; 
NET "sclk_rx_dac"  LOC = "F10"  ; 
NET "sdi_rx_dac"  LOC = "E7"  ; 
NET "io_tx[0]"  LOC = "R3"  ;
NET "io_tx[1]"  LOC = "T4"  ;
NET "io_tx[2]"  LOC = "U2"  ;
NET "io_tx[3]"  LOC = "V1"  ;
NET "io_tx[4]"  LOC = "R5"  ;
NET "io_tx[5]"  LOC = "T1"  ;
NET "io_tx[6]"  LOC = "U1"  ;
NET "io_tx[7]"  LOC = "T6"  ;
NET "io_tx[8]"  LOC = "T5"  ;
NET "io_tx[9]"  LOC = "R2"  ;
NET "io_tx[10]"  LOC = "R1"  ;
NET "io_tx[11]"  LOC = "P6"  ;
NET "io_tx[12]"  LOC = "R6"  ;
NET "io_tx[13]"  LOC = "P1"  ;
NET "io_tx[14]"  LOC = "P2"  ;
NET "io_tx[15]"  LOC = "N6"  ;

NET "io_rx[0]"  LOC = "G8"  ;
NET "io_rx[1]"  LOC = "F9"  ;
NET "io_rx[2]"  LOC = "C8"  ;
NET "io_rx[3]"  LOC = "D9"  ;
NET "io_rx[4]"  LOC = "C6"  ;
NET "io_rx[5]"  LOC = "D6"  ;
NET "io_rx[6]"  LOC = "C9"  ;
NET "io_rx[7]"  LOC = "D10"  ;
NET "io_rx[8]"  LOC = "B11"  ;
NET "io_rx[9]"  LOC = "A11"  ;
NET "io_rx[10]"  LOC = "C13"  ;
NET "io_rx[11]"  LOC = "C12"  ;
NET "io_rx[12]"  LOC = "F14"  ;
NET "io_rx[13]"  LOC = "F13"  ;
NET "io_rx[14]"  LOC = "D14"  ;
NET "io_rx[15]"  LOC = "A13"  ;
NET "flash_cs"  LOC = "U7"  ;
NET "flash_clk"  LOC = "V17"  ;
NET "flash_mosi"  LOC = "V13"  ;
NET "flash_miso"  LOC = "W17"  ;


NET "clk_muxed" TNM_NET = "clk_muxed";
TIMESPEC "TS_clk_muxed" = PERIOD "clk_muxed" 10 ns HIGH 50 %;

NET "clk_to_mac" TNM_NET = "clk_to_mac";
TIMESPEC "TS_clk_to_mac" = PERIOD "clk_to_mac" 8 ns HIGH 50 %;

NET "cpld_clk" TNM_NET = "cpld_clk";
TIMESPEC "TS_cpld_clk" = PERIOD "cpld_clk" 40 ns HIGH 50 %;

NET "GMII_RX_CLK" TNM_NET = "GMII_RX_CLK";
TIMESPEC "TS_GMII_RX_CLK" = PERIOD "GMII_RX_CLK" 8 ns HIGH 50 %;

NET "ser_rx_clk" TNM_NET = "ser_rx_clk";
TIMESPEC "TS_ser_rx_clk" = PERIOD "ser_rx_clk" 10 ns HIGH 50 %;

