/configure
/Makefile.in
/config.log
/config.status
/config.guess
/stamp-h1
/config.h
/ltmain.sh
/config.sub
/config.h.in
/libtool
/autom4te.cache
/missing
/aclocal.m4
/Makefile
/install-sh
/depcomp
/usrp2*.tar.gz
/py-compile
/usrp2.pc
