/*_xdb
/*.restore
/*.xrpt
/*.zip
/xst
/_ngo
/_xmsgs
/*.log
/*.stx
/*.tspec
/*.xml
/*.gyd
/*.ngr
/*.tim
/*.err
/*.lso
/*.bld
/*.cmd_log
/*.ise_ISE_Backup
/*.ipf_ISE_Backup
/*.mfd
/*.vm6
/*.syr
/*.xst
/*.csv
/*.html
/*.jed
/*.pad
/*.ng*
/*.pnx
/*.rpt
/*.prj
/*_html
/*.cel
/_pace.ucf
/*.lock
/*.tfi
/templates
