NET "CLK_25MHZ"  LOC = "P5"  ; 
NET "CLK_25MHZ_EN"  LOC = "P6"  ; 
NET "LED<0>"  LOC = "P12"  ; 
NET "LED<1>"  LOC = "P8"  ; 
NET "LED<2>"  LOC = "P7"  ; 
NET "DEBUG<0>"  LOC = "P1"  ; 
NET "DEBUG<1>"  LOC = "P2"  ; 
NET "DEBUG<2>"  LOC = "P3"  ; 
NET "DEBUG<3>"  LOC = "P29"  ; 
NET "DEBUG<4>"  LOC = "P30"  ; 
NET "DEBUG<5>"  LOC = "P31"  ; 
NET "DEBUG<6>"  LOC = "P32"  ; 
NET "DEBUG<7>"  LOC = "P33"  ; 
NET "DEBUG<8>"  LOC = "P34"  ; 
NET "POR"  LOC = "P42"  ; 
NET "SD_nCS"  LOC = "P20"  ; 
NET "SD_Din"  LOC = "P21"  ; 
NET "SD_CLK"  LOC = "P22"  ; 
NET "SD_Dout"  LOC = "P23"  ; 
NET "SD_DAT1"  LOC = "P27"  ; 
NET "SD_DAT2"  LOC = "P28"  ; 
NET "SD_prot"  LOC = "P19"  ;
NET "SD_det"  LOC = "P36"  ;
NET "CFG_INIT_B"  LOC = "P38"  ; 
NET "CFG_Din"  LOC = "P37"  ; 
NET "CFG_CCLK"  LOC = "P41"  ; 
NET "CFG_DONE"  LOC = "P40"  ; 
NET "CFG_PROG_B"  LOC = "P39"  ; 
NET "CPLD_CLK"  LOC = "P13"  ; 
NET "START"  LOC = "P14"  ;
NET "MODE"  LOC = "P18"  ;
NET "DONE"  LOC = "P16"  ;
NET "detached"  LOC = "P43"  ;
NET "CPLD_misc"  LOC = "P44"  ;
