/*.cache
/*.la
/*.lo
/*.pc
/.deps
/.la
/.libs
/.lo
/Makefile
/Makefile.in
/volk.c
/volk_cpu_generic.c
/volk_cpu_powerpc.c
/volk_cpu_x86.c
/volk_environment_init.c
/volk_init.c
/volk_init.h
/volk_mktables
/volk_mktables.c
/volk_proccpu_sim.c
/volk_runtime.c
