/Makefile
/Makefile.in
/.la
/.lo
/.deps
/.libs
/*.la
/*.lo
/t1
/test_dtv
/check_dups
/test_gr
/test_all
/exercise_correlator
/test_grbase
/test_vmcircbuf
/test_atsc
/test_general
/test_runtime
/test_filter
/benchmark_dotprod_fff
/benchmark_dotprod_ccc
/benchmark_dotprod_fcc
/benchmark_dotprod_scc
/benchmark_nco
/benchmark_dotprod_ccf
/benchmark_dotprod_fsf
/benchmark_vco
