*.log
*.debhelper
*.substvars
files
tmp
gnuradio-companion.install
gnuradio-examples.install
gnuradio-gpio.install
gnuradio-pager.install
gnuradio-radar-mono.install
gnuradio-radio-astronomy.install
gnuradio-sounder.install
gnuradio-utils.install
libgnuradio-audio-alsa-dev.install
libgnuradio-audio-alsa0.install
libgnuradio-audio-jack-dev.install
libgnuradio-audio-jack0.install
libgnuradio-audio-oss-dev.install
libgnuradio-audio-oss0.install
libgnuradio-audio-portaudio-dev.install
libgnuradio-audio-portaudio0.install
libgnuradio-core-dev.install
libgnuradio-cvsd-vocoder-dev.install
libgnuradio-cvsd-vocoder0.install
libgnuradio-gsm-fr-vocoder-dev.install
libgnuradio-gsm-fr-vocoder0.install
libgnuradio-pager-dev.install
libgnuradio-pager0.install
libgnuradio-qtgui-dev.install
libgnuradio-qtgui0.install
libgnuradio-trellis-dev.install
libgnuradio-trellis0.install
libgnuradio-usrp-dev.install
libgnuradio-usrp0.install
libgnuradio-usrp2-0.install
libgnuradio-usrp2-dev.install
libgnuradio-video-sdl-dev.install
libgnuradio-video-sdl0.install
libusrp-dev.install
libusrp2-dev.install
python-gnuradio-audio-alsa.install
python-gnuradio-audio-jack.install
python-gnuradio-audio-oss.install
python-gnuradio-audio-portaudio.install
python-gnuradio-core.install
python-gnuradio-cvsd-vocoder.install
python-gnuradio-gsm-fr-vocoder.install
python-gnuradio-qtgui.install
python-gnuradio-trellis.install
python-gnuradio-usrp.install
python-gnuradio-usrp2.install
python-gnuradio-video-sdl.install
python-gnuradio-wxgui.install
python-usrp.install
/gnuradio/
/gnuradio-apps/
/gnuradio-companion/
/gnuradio-doc/
/gnuradio-examples/
/gnuradio-gpio/
/gnuradio-pager/
/gnuradio-radar-mono/
/gnuradio-radio-astronomy/
/gnuradio-sounder/
/gnuradio-utils/
/libgnuradio/
/libgnuradio-dev/
/libgnuradio-audio-alsa-dev/
/libgnuradio-audio-alsa0/
/libgnuradio-audio-jack-dev/
/libgnuradio-audio-jack0/
/libgnuradio-audio-oss-dev/
/libgnuradio-audio-oss0/
/libgnuradio-audio-portaudio0/
/libgnuradio-audio-portaudio-dev/
/libgnuradio-core-dev/
/libgnuradio-core0/
/libgnuradio-cvsd-vocoder-dev/
/libgnuradio-cvsd-vocoder0/
/libgnuradio-gsm-fr-vocoder-dev/
/libgnuradio-gsm-fr-vocoder0/
/libgnuradio-pager-dev/
/libgnuradio-pager0/
/libgnuradio-qtgui-dev/
/libgnuradio-qtgui0/
/libgnuradio-trellis-dev/
/libgnuradio-trellis0/
/libgnuradio-usrp-dev/
/libgnuradio-usrp0/
/libgnuradio-usrp2-0/
/libgnuradio-usrp2-dev/
/libgnuradio-video-sdl-dev/
/libgnuradio-video-sdl0/
/libgromnithread-dev/
/libgromnithread0
/libgruel-dev/
/libgruel0/
/libmblock-dev/
/libmblock0/
/libusrp-dev/
/libusrp0/
/libusrp2-0/
/libusrp2-dev/
/python-gnuradio/
/python-gnuradio-audio-alsa/
/python-gnuradio-audio-jack/
/python-gnuradio-audio-oss/
/python-gnuradio-audio-portaudio/
/python-gnuradio-core/
/python-gnuradio-cvsd-vocoder/
/python-gnuradio-gsm-fr-vocoder/
/python-gnuradio-qtgui/
/python-gnuradio-trellis/
/python-gnuradio-usrp/
/python-gnuradio-usrp2/
/python-gnuradio-video-sdl/
/python-gnuradio-wxgui/
/python-usrp/
/usrp-doc/
