################################################################################
# Single source deb for entire distribution                                    #
################################################################################

Source: gnuradio
Section: comm
Priority: optional
Maintainer: Johnathan Corgan <jcorgan@corganenterprises.com>
Build-Conflicts: automake1.8, automake1.9
Build-Depends: debhelper (>= 5.0.38), build-essential, python-central (>=0.5.6), automake, libtool, pkg-config, python-dev (>=2.6), python-dev (<2.7), swig, fftw3-dev | libfftw3-dev, libcppunit-dev, libboost1.37-dev | libboost1.35-dev, libgsl0-dev, guile-1.8, libasound2-dev, python-wxgtk2.8, python-numpy, doxygen, xmlto, sdcc-nf, libusb-dev, libjack-dev, portaudio19-dev, libsdl1.2-dev, python-cheetah, python-lxml, python-gtk2, libqt4-dev, libqwt5-qt4-dev, libqwtplot3d-qt4-dev, libblas-dev, texlive-latex-base
Standards-Version: 3.7.2
XS-Python-Version: =2.6

################################################################################
# C++ auxiliary libraries                                                      #
################################################################################

Package: libgruel
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: GNU Radio Utility Etcetera Library
 This package implements a variety of low-level utility
 routines for GNU Radio.

Package: libgruel-dev
Section: libdevel
Architecture: any
Depends: libgruel (= ${binary:Version})
Description: GNU Radio Utility Etcetera Library
 This package implements a variety of low-level utility
 routines for GNU Radio.
 .
 This package contains header files needed by developers.

Package: libgnuradio-omnithread
Section: libs
Architecture: any
Replaces: libgnuradio-omnithread0c2a
Conflicts: libgnuradio-omnithread0c2a
Depends: ${shlibs:Depends}
Description: GNU Radio Omnithreads Abstraction Library
 This package is a fork of the omniORB-4.0.1 threading library
 for use with GNU Radio.

Package: libgnuradio-omnithread-dev
Section: libdevel
Architecture: any
Replaces: libgnuradio-omnithread0-dev
Conflicts: libgnuradio-omnithread0-dev
Depends: libgnuradio-omnithread (= ${binary:Version})
Description: GNU Radio Omnithreads Abstraction Library
 This package is a fork of the omniORB-4.0.1 threading library
 for use with GNU Radio.
 .
 This package contains header files needed by developers.

Package: libpmt
Section: libs
Architecture: any
Replaces: libpmt0c2a
Conflicts: libpmt0c2a
Depends: libgnuradio-omnithread (= ${binary:Version}), ${shlibs:Depends}
Description: GNU Radio Polymorphic Type Library
 This package implements polymorphic types.  These are similar 
 to lisp or Python data objects, and implement transparent
 reference counting using the boost shared_ptr templates.

Package: libpmt-dev
Section: libdevel
Architecture: any
Replaces: libpmt0-dev
Conflicts: libpmt0-dev
Depends: libpmt (= ${binary:Version}), libgnuradio-omnithread-dev (= ${binary:Version})
Description: GNU Radio Polymorphic Type Library
 This package implements polymorphic types.  These are similar 
 to lisp or Python data objects, and implement transparent
 reference counting using the boost shared_ptr templates.
 .
 This package contains header files needed by developers.

################################################################################
# C++ M-Block library packages                                                 #
################################################################################

Package: libmblock 
Section: libs 
Architecture: any
Replaces: libmblock0c2a
Conflicts: libmblock0c2a
Depends: libpmt (= ${binary:Version}), libgnuradio-omnithread (= ${binary:Version}), ${shlibs:Depends}, guile-1.8
Description: GNU Radio Message Block Library 
 This package provides the GNU Radio message block library. 

Package: libmblock-dev
Section: libdevel
Architecture: any
Replaces: libmblock0-dev
Conflicts: libmblock0-dev
Depends: libmblock (= ${binary:Version}), libgnuradio-omnithread-dev (= ${binary:Version}), libpmt-dev (= ${binary:Version})
Description: GNU Radio Message Block Library
 This package provides the GNU Radio message block library.
 .
 This package contains header files needed by developers.

################################################################################
# C++ USRP/USRP2 library packages                                              #
################################################################################

Package: libusrp
Section: comm
Architecture: any
Depends: ${shlibs:Depends}
Replaces: libusrp0, libusrp0c2a, usrp-firmware
Conflicts: usrp-firmware
Suggests: usrp-doc
Description: Client side library for the USRP(1) hardware
 The Universal Software Radio Peripheral (USRP) is an USB-connected,
 low-cost and open board. It features four high-speed analog-to-digital
 and digital-to-analog converters, an FPGA and a microcontroller. It's
 ideal for capturing or transmitting various signals, usually in
 combination with GNU Radio. The design schemas are available under a
 free license.
 .
 This package contains the client-side library, providing an easy interface
 for communicating with the USRP.

Package: libusrp-dev
Section: libdevel
Architecture: any
Replaces: libusrp0-dev
Depends: libusrp (= ${binary:Version}), libusb-dev, libboost-thread1.37-dev
Description: Client side library for the USRP(1) hardware
 The Universal Software Radio Peripheral (USRP) is an USB-connected,
 low-cost and open board. It features four high-speed analog-to-digital
 and digital-to-analog converters, an FPGA and a microcontroller. It's
 ideal for capturing or transmitting various signals, usually in
 combination with GNU Radio. The design schemas are available under a
 free license.
 .
 This package contains the client-side library, providing an easy interface
 for communicating with the USRP.
 .
 This package contains header files needed by developers.

Package: libusrp2
Section: comm
Architecture: any
Depends: libgruel (= ${binary:Version}), libgnuradio-omnithread (= ${binary:Version}), ${shlibs:Depends}
Suggests: usrp-doc
Description: Client side library for the USRP2 hardware
 The Universal Software Radio Peripheral 2 (USRP2) is a GbE-connected,
 low-cost and open board. It features two high-speed analog-to-digital
 and digital-to-analog converters, an FPGA and a microcontroller. It's
 ideal for capturing or transmitting various signals, usually in
 combination with GNU Radio. The design schemas are available under a
 free license.
 .
 This package contains the client-side C++ library, providing the low-
 level (non-GNU Radio) hardware interface.

Package: libusrp2-dev
Section: libdevel
Architecture: any
Depends: libusrp2 (= ${binary:Version}), libboost-thread1.37-dev, libgnuradio-omnithread-dev (= ${binary:Version}), libgruel-dev (= ${binary:Version})
Description: Client side library for the USRP2 hardware
 The Universal Software Radio Peripheral 2 (USRP2) is a GbE-connected,
 low-cost and open board. It features two high-speed analog-to-digital
 and digital-to-analog converters, an FPGA and a microcontroller. It's
 ideal for capturing or transmitting various signals, usually in
 combination with GNU Radio. The design schemas are available under a
 free license.
 .
 This package contains the client-side C++ library, providing the low-
 level (non-GNU Radio) hardware interface.
 .
 This package contains header files needed by developers.

################################################################################
# C++ GNU Radio block library packages                                         #
################################################################################

Package: libgnuradio-core
Section: libs
Architecture: any
Depends: libgruel (= ${binary:Version}), libgnuradio-omnithread (= ${binary:Version}), ${shlibs:Depends}
Conflicts:  libgnuradio-core0, libgnuradio-core0c2, libgnuradio-core0c2a
Replaces:  libgnuradio-core0, libgnuradio-core0c2, libgnuradio-core0c2a
Suggests: gnuradio-doc
Description: The GNU Sofware Radio Core Library
 This package contains the core GNU Radio libraries.

Package: libgnuradio-core-dev
Section: libdevel
Architecture: any 
Replaces: libgnuradio-core0-dev
Conflicts: libgnuradio-core0-dev
Depends: libgnuradio-core (= ${binary:Version}), libgruel-dev (= ${binary:Version}), libgnuradio-omnithread-dev (= ${binary:Version}), libboost-thread1.37-dev, libboost-date-time1.37-dev, libgsl0-dev, libatlas-dev, libfftw3-dev, swig
Description: The GNU Software Radio Core Library
 This package contains the core GNU Radio libraries.
 .
 This package contains header files needed by developers.

Package: libgnuradio-audio-alsa
Section: libs
Architecture: any
Depends: libgnuradio-core (= ${binary:Version}), ${shlibs:Depends}
Description: GNU Radio C++ block for ALSA sound system
 This package contains the ALSA sound system driver for GNU Radio.

Package: libgnuradio-audio-alsa-dev
Section: libdevel
Architecture: any
Depends: libgnuradio-audio-alsa (= ${binary:Version}), libgnuradio-core-dev (= ${binary:Version}), libasound2-dev
Description: GNU Radio C++ block for ALSA sound system
 This package contains the ALSA sound system driver for GNU Radio.
 .
 This package contains header files needed by developers.

Package: libgnuradio-qtgui
Section: libs
Architecture: any
Depends: libgnuradio-core (= ${binary:Version}), ${shlibs:Depends}
Description: GNU Radio C++ blocks fro QT-based GUI applications
 This package contains the C++ library for using GNU Radio inside
 QT-based GUI applications.

Package: libgnuradio-qtgui-dev
Section: libdevel
Architecture: any
Depends: libgnuradio-qtgui (= ${binary:Version}), libgnuradio-core-dev (= ${binary:Version}), libqt4-dev, libqwtplot3d-qt4-dev
Description: GNU Radio C++ blocks fro QT-based GUI applications
 This package contains the C++ library for using GNU Radio inside
 QT-based GUI applications.
 .
 This package contains header files needed by developers.

Package: libgnuradio-usrp
Section: libs
Architecture: any
Depends: libgnuradio-core (= ${binary:Version}), libusrp (= ${binary:Version}), ${shlibs:Depends}
Description: GNU Radio C++ blocks for USRP(1) hardware
 This package contains the C++ API blocks for the Universal Software Radio
 Peripheral.

Package: libgnuradio-usrp-dev
Section: libdevel
Architecture: any
Depends: libgnuradio-usrp (= ${binary:Version}), libgnuradio-core-dev (= ${binary:Version}), libusrp-dev (= ${binary:Version})
Description: GNU Radio C++ blocks for USRP(1) hardware
 This package contains the C++ API blocks for the Universal Software Radio
 Peripheral.
 .
 This package contains header files needed by developers.

Package: libgnuradio-usrp2
Section: libs
Architecture: any
Depends: libgnuradio-core (= ${binary:Version}), libusrp2 (= ${binary:Version}), ${shlibs:Depends}
Description: GNU Radio C++ blocks for USRP(1) hardware
 This package contains the C++ API blocks for the Universal Software Radio
 Peripheral.

Package: libgnuradio-usrp2-dev
Section: libdevel
Architecture: any
Depends: libgnuradio-usrp2 (= ${binary:Version}), libgnuradio-core-dev (= ${binary:Version}), libusrp2-dev (= ${binary:Version})
Description: GNU Radio C++ blocks for USRP(1) hardware
 This package contains the C++ API blocks for the Universal Software Radio
 Peripheral.
 .
 This package contains header files needed by developers.

################################################################################
# Python libraries for USRP                                                    #
################################################################################

Package: python-usrp
Architecture: any
Depends: ${python:Depends}, libusrp (= ${binary:Version}), ${shlibs:Depends}
Provides: ${python:Provides}
Section: python
XB-Python-Version: ${python:Versions}
Description: Python bindings for the USRP library
 This package provides auxiliary routines in Python for manipulating the USRP
 hardware.

################################################################################
# Python libraries for GNU Radio components                                    #
################################################################################

Package: python-gnuradio-core
Architecture: any
Depends: ${python:Depends}, ${shlibs:Depends}, python-numpy
Conflicts: python-gnuradio (< 3.2)
Provides: ${python:Provides}
Section: python
XB-Python-Version: ${python:Versions}
Description: Python bindings for GNU Radio core library
 This package provides the modules that enable one to use gnuradio 
 from Python scripts.

Package: python-gnuradio-wxgui
Architecture: any
Depends: ${python:Depends}, python-gnuradio-core (= ${binary:Version}), python-wxgtk2.8, python-opengl, python-numpy
Conflicts: python-wxgtk2.6
Provides: ${python:Provides}
Section: python
XB-Python-Version: ${python:Versions}
Description: GNU Radio Graphical Interface Routines based on wxPython
 This package provides high level GUI construction classes based
 upon the wxPython bindings for wxWidgets.

Package: python-gnuradio-usrp
Architecture: any
Depends: ${python:Depends}, ${shlibs:Depends}, python-gnuradio-core, python-usrp
Provides: ${python:Provides}
Section: python
XB-Python-Version: ${python:Versions}
Description: Python bindings for GNU Radio USRP driver
 This package provides the Python interface to the GNU Radio USRP
 driver and daughterboard drivers.

Package: python-gnuradio-usrp2
Architecture: any
Depends: ${python:Depends}, ${shlibs:Depends}, python-gnuradio-core
Provides: ${python:Provides}
Section: python
XB-Python-Version: ${python:Versions}
Description: Python bindings for GNU Radio USRP driver
 This package provides the Python interface to the GNU Radio USRP
 driver and daughterboard drivers.

Package: python-gnuradio-audio-alsa
Architecture: any
Depends: ${python:Depends}, ${shlibs:Depends}, libgnuradio-audio-alsa (= ${binary:Version}), python-gnuradio-core
Section: python
Provides: ${python:Provides}, python-gnuradio-audio
XB-Python-Version: ${python:Versions}
Description: Python bindings for GNU Radio ALSA audio driver
 This package provides the Python wrappers around the GNU Radio ALSA
 audio driver.

Package: python-gnuradio-audio-portaudio
Architecture: any
Depends: ${python:Depends}, ${shlibs:Depends}, python-gnuradio-core
Provides: ${python:Provides}, python-gnuradio-audio
Section: python
XB-Python-Version: ${python:Versions}
Description: GNU Radio Python PortAudio Driver
 This package provides the Python interface to the GNU Radio driver
 for the PortAudio audio system.

Package: python-gnuradio-audio-jack
Architecture: any
Depends: ${python:Depends}, ${shlibs:Depends}, python-gnuradio-core
Section: python
Provides: ${python:Provides}, python-gnuradio-audio
XB-Python-Version: ${python:Versions}
Description: GNU Radio Python JACK Audio Driver
 This package provides the Python interface to the GNU Radio driver
 for the JACK audio system.

Package: python-gnuradio-audio-oss
Architecture: any
Depends: ${python:Depends}, ${shlibs:Depends}, python-gnuradio-core
Section: python
Provides: ${python:Provides}, python-gnuradio-audio
XB-Python-Version: ${python:Versions}
Description: GNU Radio Python OSS Audio Driver
 This package provides the Python interface to the GNU Radio driver
 for the OSS audio system.

Package: python-gnuradio-cvsd-vocoder
Architecture: any
Depends: ${python:Depends}, ${shlibs:Depends}, python-gnuradio-core
Provides: ${python:Provides}
Section: python
XB-Python-Version: ${python:Versions}
Description: GNU Radio CVSD Vocoder
 This package provides an implementation of a CVSD vocoder for
 GNU Radio.

Package: python-gnuradio-gsm-fr-vocoder
Architecture: any
Depends: ${python:Depends}, ${shlibs:Depends}, python-gnuradio-core
Provides: ${python:Provides}
Section: python
XB-Python-Version: ${python:Versions}
Description: GNU Radio GSM Full-Rate Vocoder
 This package provides an implementation of a full-rate GSM vocoder 
 for GNU Radio.

Package: python-gnuradio-qtgui
Architecture: any
Depends: ${python:Depends}, ${shlibs:Depends}, libgnuradio-qtgui (= ${binary:Version}), python-gnuradio-core
Section: python
Provides: ${python:Provides}
XB-Python-Version: ${python:Versions}
Description: Python bindings for GNU Radio ALSA audio driver
 This package provides the Python wrappers around the GNU Radio QT
 GUI C++ blocks.

Package: python-gnuradio-trellis
Architecture: any
Depends: ${python:Depends}, ${shlibs:Depends}, python-gnuradio-core
Provides: ${python:Provides}
Section: python
XB-Python-Version: ${python:Versions}
Description: GNU Radio Trellis-Coded Modulation library
 This package provides an implementation of trellis-coded modulation
 for GNU Radio.

Package: python-gnuradio-video-sdl
Architecture: any
Depends: ${python:Depends}, ${shlibs:Depends}, python-gnuradio-core
Provides: ${python:Provides}
Section: python
XB-Python-Version: ${python:Versions}
Description: GNU Radio SDL Interface Library
 This package provides an interface to the SDL rendering library
 for GNU Radio.

################################################################################
# GNU Radio Utilities, Examples, and Applications                              #
################################################################################

Package: gnuradio-utils
Architecture: any
Depends: ${python:Depends}, ${shlibs:Depends}, python-gnuradio-usrp, python-gnuradio-usrp2, python-gnuradio-wxgui, python-matplotlib, python-tk, python-scipy
Provides: ${python:Provides}
Section: comm
XB-Python-Version: ${python:Versions}
Description: GNU Radio Utilities
 This package provides commonly used utilities for GNU Radio

Package: gnuradio-examples
Architecture: any
Depends: ${python:Depends}, python-gnuradio-core
Provides: ${python:Provides}
Recommends: python-gnuradio-wxgui, python-gnuradio
Section: comm
XB-Python-Version: ${python:Versions}
Description: GNU Radio Example Programs
 This package provides examples of GNU Radio usage using Python.

Package: gnuradio-pager
Architecture: any
Depends: ${python:Depends}, ${shlibs:Depends}, python-gnuradio-usrp
Provides: ${python:Provides}
Section: comm
XB-Python-Version: ${python:Versions}
Description: GNU Radio FLEX Pager Decoder
 This package provides a decoder for the FLEX paging protocol for GNU Radio

Package: gnuradio-sounder
Architecture: any
Replaces: gnuradio-sounder-firmware
Conflicts: gnuradio-sounder-firmware
Depends: ${python:Depends}, ${shlibs:Depends}, python-gnuradio-usrp
Provides: ${python:Provides}
Section: comm
XB-Python-Version: ${python:Versions}
Description: GNU Radio Channel Sounder Application
 This package provides an RF channel sounder application for GNU Radio

Package: gnuradio-gpio
Architecture: any
Replaces: gnuradio-gpio-firmware
Conflicts: gnuradio-gpio-firmware
Depends: ${python:Depends}, ${shlibs:Depends}, python-gnuradio-usrp
Provides: ${python:Provides}
Section: comm
XB-Python-Version: ${python:Versions}
Description: GNU Radio Streaming Digital Application
 This package provides streaming digital GPIO capabilities for GNU Radio

Package: gnuradio-radar-mono
Architecture: any
Replaces: gnuradio-radar-mono-firmware
Conflicts: gnuradio-radar-mono-firmware
Depends: ${python:Depends}, ${shlibs:Depends}, python-gnuradio-usrp
Provides: ${python:Provides}
Section: comm
XB-Python-Version: ${python:Versions}
Description: GNU Radio Monostatic Radar Application
 This package provides a monostatic radar application for GNU Radio

Package: gnuradio-radio-astronomy
Architecture: any
Depends: ${python:Depends}, ${shlibs:Depends}, python-gnuradio-usrp, python-gnuradio-wxgui
Provides: ${python:Provides}
Section: comm
XB-Python-Version: ${python:Versions}
Description: GNU Radio Radio Astronomy Applications
 This package provides radio astronomy applications for GNU Radio

Package: gnuradio-companion
Architecture: any
Depends: ${python:Depends}, gnuradio, gnuradio-doc, usrp-doc, python-lxml, python-cheetah, python-gtk2
Provides: ${python:Provides}
Section: comm
XB-Python-Version: ${python:Versions}
Description: The GNU Radio Companion
 GRC is a graphical flowgraph editor for the GNU Software Radio

################################################################################
# Documentation packages                                                       #
################################################################################

Package: gnuradio-doc
Section: doc
Architecture: all
Description: Software Defined Radio
 This package contains the documentation for the GNU Radio software
 defined radio system.

Package: usrp-doc
Section: doc
Architecture: all
Description: Software Defined Radio
 This package contains the documentation for the Universal Software Radio
 Peripheral (USRP) hardware and interface library.

################################################################################
# Meta-packages                                                                #
################################################################################

Package: libgnuradio
Section: libs
Architecture: all
Depends: libgnuradio-core (= ${binary:Version}), 
Recommends: libgnuradio-audio-alsa, libgnuradio-qtqui, libgnuradio-usrp, libgnuradio-usrp2
Description: GNU Radio C++ API libraries
 This is a virtual package that depends, recommends, or suggests all of the
 binary packages that make up the GNU Radio C++ API.  For development headers,
 install libgnuradio-dev.

Package: libgnuradio-dev
Section: libdevel
Architecture: all
Depends: libgnuradio (= ${binary:Version}), libgnuradio-core-dev
Recommends: libgnuradio-audio-alsa-dev, libgnuradio-qtgui-dev, libgnuradio-usrp-dev, libgnuradio-usrp2-dev,
Suggests: gnuradio-doc, usrp-doc
Replaces: gnuradio-dev
Description: Development headers for GNU Radio C++ development
 This is a virtual package that depends or recommends the development header
 packages for the GNU Radio C++ API.  It is only needed if you intend
 to develop custom GNU Radio signal processing blocks in C++.

Package: python-gnuradio
Section: python
Architecture: all
Depends: python-gnuradio-core
Recommends: python-gnuradio-wxgui, python-gnuradio-audio-alsa | python-gnuradio-audio, python-gnuradio-cvsd-vocoder, python-gnuradio-gsm-fr-vocoder, python-gnuradio-qtgui, python-gnuradio-trellis, python-gnuradio-video-sdl, python-gnuradio-usrp, python-gnuradio-usrp2
Provides: ${python:Provides}
XB-Python-Version: ${python:Versions}
Description: Python Libraries for GNU Radio Components
 This is a virtual package that depends or recommends all of the packages that
 make up the GNU Radio Python API.

Package: gnuradio-apps
Section: comm
Architecture: all
Depends: gnuradio-gpio, gnuradio-pager, gnuradio-sounder, gnuradio-radio-astronomy, gnuradio-radar-mono
Description: The GNU Software Radio Toolkit - applications
 This is a virtual package that depends on top-level GNU Radio application
 packages.

Package: gnuradio
Section: comm
Architecture: all
Recommends: libgnuradio, libgnuradio-dev, gnuradio-doc, python-gnuradio, gnuradio-utils, gnuradio-examples, gnuradio-apps
Description: The GNU Software Radio Toolkit
 This is a virtual package that installs the entire GNU Radio and USRP software
 set.
