Source: gnuradio
Section: comm
Priority: optional
Maintainer: Bdale Garbee <bdale@gag.com>
Build-Conflicts: automake1.8, automake1.9
Build-Depends: debhelper (>= 5.0.37.2), autotools-dev, doxygen, fftw3-dev, libasound2-dev, libboost-dev, libcppunit-dev, libjack0.100.0-dev, libsdl1.2-dev, portaudio19-dev, libtool, libusb-dev, pkg-config, python, python-all-dev, python-central (>= 0.5), python-numeric, python-numpy, python-wxgtk2.6, sdcc, swig, xmlto
Build-Depends-Indep: python-all-dev
Standards-Version: 3.7.2
XS-Python-Version: >= 2.3

Package: libgnuradio-omnithread0c2a
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts:  
Replaces:  
Recommends: 
Suggests: 
Description: Software Defined Radio
 This package is a fork of the omniORB-4.0.1 threading library
 for use with GNU Radio.

Package: libgnuradio-omnithread0-dev
Section: libdevel
Architecture: any
Depends: libgnuradio-omnithread0c2a (= ${Source-Version})
Description: Software Defined Radio
 This package is a fork of the omniORB-4.0.1 threading library
 for use with GNU Radio.
 .
 This package contains header files needed by developers.

Package: libgnuradio-core0c2a
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libgnuradio-omnithread0c2a
Conflicts:  libgnuradio-core0, libgnuradio-core0c2
Replaces:  libgnuradio-core0, libgnuradio-core0c2
Recommends: 
Suggests:
Description: Software Defined Radio
 This package contains the core GNU Radio libraries.
