/*.ptwx
/*.xrpt
/*.zip
/*_xdb
/templates
/netgen
/_ngo
/_xmsgs
/_pace.ucf
/*.cmd
/*.ibs
/*.lfp
/*.mfp
/*.bit
/*.bin
/*.stx
/*.par
/*.unroutes
/*.ntrc_log
/*.ngr
/*.mrp
/*.html
/*.lso
/*.twr
/*.bld
/*.ncd
/*.txt
/*.cmd_log
/*.drc
/*.map
/*.twr
/*.xml
/*.syr
/*.ngm
/*.xst
/*.csv
/*.html
/*.lock
/*.ncd
/*.twx
/*.ise_ISE_Backup
/*.xml
/*.ut
/*.xpi
/*.ngd
/*.ncd
/*.pad
/*.bgn
/*.ngc
/*.pcf
/*.ngd
/xst
/*.log
/*.rpt
/*.cel
/*.restore
/build
