/*-stamp
/*.a
/*.bin
/*.dump
/*.log
/*.rom
/*.map
/.deps
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/blink_leds
/blink_leds2
/build
/compile
/config.h
/config.h.in
/config.log
/config.status
/configure
/depcomp
/echo
/eth_test
/gen_eth_packets
/ibs_rx_test
/ibs_tx_test
/install-sh
/libtool
/ltmain.sh
/missing
/py-compile
/rcv_eth_packets
/run_tests.sh
/stamp-h1
/test1
/test_phy_comm
/timer_test
/buf_ram_test
/buf_ram_zero
/hello
/test_printf
/test_spi
/test_i2c
/gen_pause_frames
/test_serdes
/rx_only
/tx_only
/tx_standalone
/tx_drop
/tx_drop2
/tx_drop_rate_limited
/test_lsdac
/test_lsadc
/read_dbids
/test_db_spi
/ramp_lsdac
/eth_to_serdes
/serdes_to_dsp
/sd_gentest
/sd_bounce
/can_i_sub
/tx_only_v2
/rx_only_v2
/txrx
/txrx_wbx
/txrx_xcvr
/eth_serdes
/serdes_txrx
/set_hw_rev
/test_sd
/factory_test
/test_ram
/mimo_tx
/mimo_tx_slave
/burn_dbsrx_eeprom
/burnrev30
/burnrev31
/burnrev40
