/Makefile
/Makefile.in
/.la
/.lo
/.deps
/.libs
/*.la
/*.lo
/*.dat
/usrper
/usrper2
/test_input
/test_fusb
/test_usrp
/test_usrp0
/test_usrp_standard_rx
/test_usrp_standard_tx
/test_usrp_inband_timestamps
/test_usrp_inband_registers
/test_usrp_inband_rx
/test_usrp_inband_tx
/test_usrp_basic_rx
/check_order_quickly
/usrp_cal_dc_offset
/test_usrp_inband_cs
/read_packets
/test_usrp_inband_ping
