/*.cache
/*.la
/*.lo
/*.pc
/.deps
/.la
/.libs
/.lo
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config.cache
/config.h
/config.h.in
/config.log
/config.status
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/make.log
/missing
/missing
/mkinstalldirs
/py-compile
/stamp-h
/stamp-h.in
/stamp-h1
/stamp-h1.in
/stamp-h2.in
