/Makefile
/Makefile.in
/aclocal.m4
/configure
/config.h.in
/stamp-h.in
/libtool
/config.log
/config.h
/config.cache
/config.status
/missing
/stamp-h
/stamp-h1
/.deps
/.libs
/*.la
/*.lo
/autom4te.cache
/*.cache
/missing
/make.log
