[Desktop Entry]
Version=1.0
Type=Application
Name=GRC
Exec=gnuradio-companion %F
Categories=Development;
MimeType=application/gnuradio-grc;
Icon=gnuradio-grc
