Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h.in
configure
depcomp
install-sh
ltmain.sh
missing
py-compile
config.h
config.log
config.status
libtool
setup_guile_test_env
stamp-h1
gnuradio-fcd.pc
config.h.in~

