/Makefile
/Makefile.in
/.la
/.lo
/.deps
/.libs
/*.la
/*.lo
/*.pyc
/swigrun.py
/swigrun_wrap.c
/Makefile.swigdeps.new
gnuradio_core_filter.cc
gnuradio_core_filter.d
gnuradio_core_filter.h
gnuradio_core_filter.py
gnuradio_core_filter.scm
gnuradio_core_filter-primitive.scm
gnuradio_core_general.cc
gnuradio_core_general.d
gnuradio_core_general.h
gnuradio_core_general.py
gnuradio_core_general.scm
gnuradio_core_general-primitive.scm
gnuradio_core_gengen.cc
gnuradio_core_gengen.d
gnuradio_core_gengen.h
gnuradio_core_gengen.py
gnuradio_core_gengen.scm
gnuradio_core_gengen-primitive.scm
gnuradio_core_hier.cc
gnuradio_core_hier.d
gnuradio_core_hier.h
gnuradio_core_hier.py
gnuradio_core_hier.scm
gnuradio_core_hier-primitive.scm
gnuradio_core_io.cc
gnuradio_core_io.d
gnuradio_core_io.h
gnuradio_core_io.py
gnuradio_core_io.scm
gnuradio_core_io-primitive.scm
gnuradio_core_runtime.cc
gnuradio_core_runtime.d
gnuradio_core_runtime.h
gnuradio_core_runtime.py
gnuradio_core_runtime.scm
gnuradio_core_runtime-primitive.scm

