/Makefile
/Makefile.in
/.la
/.lo
/.deps
/.libs
/*.la
/*.lo
/*.pyc
/swigrun.py
/swigrun_wrap.c
/Makefile.swigdeps.new
/gnuradio_swig_py_runtime.d
/gnuradio_swig_py_general.d
/gnuradio_swig_py_gengen.d
/gnuradio_swig_py_filter.d
/gnuradio_swig_py_io.d
/gnuradio_swig_bug_workaround.h
/gnuradio_swig_py_runtime.cc
/gnuradio_swig_py_runtime.h
/gnuradio_swig_py_runtime.py
/gnuradio_swig_py_general.cc
/gnuradio_swig_py_general.h
/gnuradio_swig_py_general.py
/gnuradio_swig_py_gengen.cc
/gnuradio_swig_py_gengen.h
/gnuradio_swig_py_gengen.py
/gnuradio_swig_py_filter.cc
/gnuradio_swig_py_filter.h
/gnuradio_swig_py_filter.py
/gnuradio_swig_py_io.cc
/gnuradio_swig_py_io.h
/gnuradio_swig_py_io.py
/gnuradio_swig_py_hier.cc
/gnuradio_swig_py_hier.h
/gnuradio_swig_py_hier.py
/gnuradio_swig_py_filter_python.cc
/gnuradio_swig_py_filter_python.h
/gnuradio_swig_py_general_python.cc
/gnuradio_swig_py_general_python.h
/gnuradio_swig_py_gengen_python.cc
/gnuradio_swig_py_gengen_python.h
/gnuradio_swig_py_hier_python.cc
/gnuradio_swig_py_hier_python.h
/gnuradio_swig_py_io_python.cc
/gnuradio_swig_py_io_python.h
/gnuradio_swig_py_runtime_python.cc
/gnuradio_swig_py_runtime_python.h
/gnuradio_swig_py_filter.scm
/gnuradio_swig_py_filter_guile.cc
/gnuradio_swig_py_general.scm
/gnuradio_swig_py_general_guile.cc
/gnuradio_swig_py_gengen.scm
/gnuradio_swig_py_gengen_guile.cc
/gnuradio_swig_py_hier.scm
/gnuradio_swig_py_hier_guile.cc
/gnuradio_swig_py_io.scm
/gnuradio_swig_py_io_guile.cc
/gnuradio_swig_py_runtime.scm
/gnuradio_swig_py_runtime_guile.cc
