/Makefile
/Makefile.in
/.libs
/.deps
/qtgui.cc
/qtgui.py
/WaterfallDisplayPlot.moc.cc
/Waterfall3DDisplayPlot.moc.cc
/TimeDomainDisplayPlot.moc.cc
/spectrumdisplayform.moc.cc
/spectrumdisplayform.ui.h
/FrequencyDisplayPlot.moc.cc
/ConstellationDisplayPlot.moc.cc
