/Makefile
/Makefile.in
/.deps
/.libs
/*.la
/*.lo
/autom4te.cache
/*.cache
/howto-write-a-block.html
/gr_block.h.xml
/howto_1.i.xml
/howto_square_ff.cc.xml
/howto_square_ff.h.xml
/qa_howto_1.py.xml
/src_lib_Makefile_1.am.xml
/src_lib_Makefile_2.am.xml
/howto_square2_ff.cc.xml
/howto_square2_ff.h.xml
