name: 'Windows Installer Builder'
on:
  workflow_dispatch:
jobs:
  ## duplicate from make-test.yml
  # Check hashes first
  check-hashes:
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    name: Check hashes
    container:
      image: 'gnuradio/ci:fedora-42-3.10'
    steps:
    - name: Checkout project
      uses: actions/checkout@v4
      with:
        fetch-depth: 1
    - name: Add git repo to safe repos
      run: git config --global --add safe.directory ${GITHUB_WORKSPACE}
    - name: Run hash fixer on all binding files
      run: gr-utils/bindtool/scripts/binding-hash-hotfixer.zsh gr-*/python/*/bindings/*.cc gnuradio-runtime/python/gnuradio/gr/bindings/*.cc
    - name: get changed files
      run: >
          git --no-pager diff -z --name-only --
          > /tmp/hashdiff
          ; [[ ! -s /tmp/hashdiff ]] && exit 0
          ; sed -z 's;.*;::error file=&::Hash mismatch in &\n;' /tmp/hashdiff
          | tr -d '\0'
          ; exit -1

  # We continue checking C++ formatting. No one gets free CPU cycles if they
  # can't use clang-format.
  check-formatting:
    name: Check C++ Formatting
    runs-on: ubuntu-24.04
    timeout-minutes: 15
    steps:
    - uses: actions/checkout@v2
    - uses: DoozyX/clang-format-lint-action@v0.14
      with:
        source: '.'
        extensions: 'h,hpp,cpp,cc,cc.in'
        clangFormatVersion: 14
  check-python-formatting:
    name: Check Python Formatting
    runs-on: ubuntu-24.04
    timeout-minutes: 15
    steps:
    - uses: actions/checkout@v2
    - uses: quentinguidee/pep8-action@v1
      with:
        # -----------------------------------
        # UPDATE tox.ini when making changes!
        arguments: '--max-line-length=120 --ignore E265,E266,E275,E402,E501,E704,E712,E713,E714,E711,E721,E722,E741,W504,W605 --exclude *.yml.py'
        # -----------------------------------
  ## end duplication
  build-windows:
    # All of these shall depend on the formatting check (needs: check-formatting)
    needs: [check-hashes, check-formatting, check-python-formatting]
    runs-on: windows-2022
    name: Windows Installer (cmake with msbuild)
    defaults:
      run:
        shell: cmd
    env:
      _VS_VERSION: '17.0'
    steps:
    - name: Check environment
      run: |
        @echo DEBUG: Checking current environment variables:
        set
        @echo DEBUG: Relying on preinstalled tools in known installation locations
        @echo DEBUG: MSYS2 via GHCUP_MSYS2 environment variable:
        set GHCUP_MSYS2
        @echo DEBUG: PIPX via PATH environment variable:
        set PIPX_HOME
        pipx list
        @echo DEBUG: MSVC via PATH environment variable:
        "%ProgramFiles(x86)%\Microsoft Visual Studio\Installer\vswhere.exe" -products * -requires Microsoft.VisualStudio.Component.VC.Tools.x86.x64
        "%ProgramFiles(x86)%\Microsoft Visual Studio\Installer\vswhere.exe" -products * -requires Microsoft.VisualStudio.Component.VC.Tools.x86.x64 -property installationPath
        @echo DEBUG: Chocolatey via PATH environment variable
        set ChocolateyInstall
        choco list
        @echo DEBUG: Python 3.9 via RUNNER_TOOL_CACHE at %RUNNER_TOOL_CACHE%:
        dir %RUNNER_TOOL_CACHE%\Python
        @echo DEBUG: Check for installed Python versions:
        py -0
        @echo DEBUG: Build machine information:
        dir c:
        dir d:
        "%SystemRoot%\System32\WindowsPowerShell\v1.0\powershell.exe" ^
            -NoProfile -InputFormat None -ExecutionPolicy Bypass ^
            -Command "Get-CimInstance Win32_PageFileUsage | fl *"
        "%SystemRoot%\System32\WindowsPowerShell\v1.0\powershell.exe" ^
            -NoProfile -InputFormat None -ExecutionPolicy Bypass ^
            -Command "Get-ComputerInfo | Select-Object TotalPhysicalMemory, AvailablePhysicalMemory"
        wmic OS
    - name: Export vcvars64 path for 'x64 Native Tools Command Prompt'
      if: always()
      run: |
        @echo DEBUG: Checking current environment variables:
        set
        where msbuild
        set msbuild_vcvars64=C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvars64.bat
        if NOT EXIST "%msbuild_vcvars64%" (^
           echo ERROR: Could not locate 'vcvars64' batch file at "%msbuild_vcvars64%". This script is intended to be run from a build machine & exit /B 1)
        echo msbuild_vcvars64=%msbuild_vcvars64%>> %GITHUB_ENV%
        call "%msbuild_vcvars64%"
        call set _VSINSTALLDIR=%%VSINSTALLDIR:~0,-1%%
        call set __VSINSTALLDIR=%%VSINSTALLDIR:~-1%%
        if "%__VSINSTALLDIR%" == "\" set VSINSTALLDIR=%_VSINSTALLDIR%
        set VSINSTALLDIR
        echo VSINSTALLDIR1=%VSINSTALLDIR%>> %GITHUB_ENV%
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        path: gnuradio
    - name: Install with chocolatey
      run: |
        choco list
        choco install -y doxygen.install --version=1.9.1
        choco install -y NSIS --version=3.10
    - name: Create Python Virtual Environment
      env:
        PY_VENV_PATH: ${{ runner.workspace }}\py_venv
      run: | 
        @echo DEBUG: List installed Python versions:
        py -0
        set PY_VENV_VERSION=3.12
        @echo DEBUG: Creating Python virtual environment at %PY_VENV_PATH% with Python %PY_VENV_VERSION%
        py -%PY_VENV_VERSION% -m pip install virtualenv
        py -%PY_VENV_VERSION% -m venv %PY_VENV_PATH%
        call %PY_VENV_PATH%\Scripts\activate
        python -V
        python -c "import sys;print(sys.path)"
        echo PY_VENV_PATH=%PY_VENV_PATH%>> %GITHUB_ENV%
        echo PY_VENV_VERSION=%PY_VENV_VERSION%>> %GITHUB_ENV%
        pip install -r %GITHUB_WORKSPACE%\gnuradio\release\requirements.txt
    - name: Export MSYS2 environment variables
      env:
        MSYSTEM: ucrt64
      run: |
        echo DEBUG: Exporting environment variable MSYS2_LOCATION with value '%GHCUP_MSYS2%'
        echo MSYS2_LOCATION=%GHCUP_MSYS2%>> %GITHUB_ENV%
        echo MSYSTEM=%MSYSTEM%>> %GITHUB_ENV%
    - name: Build GTK binaries with gvsbuild
      env:
        gtk_version: gtk3
        gtk_build_dir: ${{ runner.workspace }}\gtk-build
        gvsbuild_dir: ${{ github.workspace }}\gvsbuild
      run: |
        @echo Activate Python venv:
        call %PY_VENV_PATH%\Scripts\activate
        python -c "import sys;print(sys.path)"
        @echo Define MSYS2_LOCATION with linux path separators:
        call set fps_MSYS2_DIR=%%GHCUP_MSYS2:\=/%%
        set fps_MSYS2_DIR
        echo fps_MSYS2_DIR=%fps_MSYS2_DIR%>> %GITHUB_ENV%
        @echo Make sure variable MSYSTEM is not defined. Current value is '%MSYSTEM%':
        set MSYSTEM=
        @echo New value is '%MSYSTEM%'
        mkdir %gtk_build_dir%
        echo gtk_build_dir=%gtk_build_dir%>> %GITHUB_ENV%
        @echo Defining a number of environment variables pointing to future locations:
        set GTK_ROOT=%gtk_build_dir%\gtk\x64\release
        echo GTK_ROOT=%GTK_ROOT%>> %GITHUB_ENV%
        set INCLUDE=%GTK_ROOT%\include;%GTK_ROOT%\include\cairo;%GTK_ROOT%\include\glib-2.0;%GTK_ROOT%\include\gobject-introspection-1.0;%GTK_ROOT%\lib\glib-2.0\include;%INCLUDE%
        set LIB=%GTK_ROOT%\lib;%LIB%
        set GTK_BIN_DIR=%GTK_ROOT%\bin
        echo GTK_BIN_DIR=%GTK_BIN_DIR%>> %GITHUB_ENV%
        call set fps_GTK_BIN_DIR=%%GTK_BIN_DIR:\=/%%
        echo fps_GTK_BIN_DIR=%fps_GTK_BIN_DIR%>> %GITHUB_ENV%
        set PATH=%GTK_BIN_DIR%;%PATH%
        @echo Starting to build from %gvsbuild_dir%
        @echo Defer calling vcvars64.bat as it is called by gvsbuild itself and 
        @echo multiple calls can lead to 'The input line is too long.' errors 
        @echo when PATH environment variable is repeatably expanded.
        python -m pip install gvsbuild==2025.11.0
        set gvsbuild_args=build %gtk_version% --configuration release --py-wheel --enable-gi pygobject --msys-dir %fps_MSYS2_DIR% --build-dir %gtk_build_dir% --vs-ver 17 --platform x64
        @echo Calling gvsbuild with arguments '%gvsbuild_args%'
        echo gvsbuild_args=%gvsbuild_args%>> %GITHUB_ENV%
        gvsbuild %gvsbuild_args% --log-single --capture-out
    - name: Check GTK build logs
      if: success() || failure()
      run: |
        set
        type %gtk_build_dir%\logs\gvsbuild-log.txt
        type %gtk_build_dir%\build\gtk\x64\release\stack.propsstack.props
        type %gtk_build_dir%\build\gtk\x64\release\gtk3\_gvsbuild-meson\meson-logs\meson-log.txt
        dir c:
        dir d:
        "%SystemRoot%\System32\WindowsPowerShell\v1.0\powershell.exe" ^
            -NoProfile -InputFormat None -ExecutionPolicy Bypass ^
            -Command "Get-CimInstance Win32_PageFileUsage | fl *"
        dir %gtk_build_dir%
        dir %GTK_ROOT%
        dir %GTK_ROOT%\python
    - name: Install pygi into Python venv
      run: |
        @echo Activate Python venv
        call %PY_VENV_PATH%\Scripts\activate
        @echo Install pygi
        for %%i in (%GTK_ROOT%\python\PyGObject*.whl) do (pip install --force-reinstall %%i)
        for %%i in (%GTK_ROOT%\python\pycairo*.whl) do (pip install --force-reinstall %%i)
        @echo Verify pygi installation
        python -c "import os;os.add_dll_directory('%fps_GTK_BIN_DIR%');import gi;gi.require_version('Gtk', '3.0');gi.require_foreign('cairo', 'Context');gi.require_version('PangoCairo', '1.0')"
    - name: Download and extract PyQT5 source
      env:
        url: 'https://files.pythonhosted.org/packages/0e/07/c9ed0bd428df6f87183fca565a79fee19fa7c88c7f00a7f011ab4379e77a/PyQt5-5.15.11.tar.gz'
        target_path: ${{ runner.workspace }}\PyQt5-5.15.11
        temp_file_name: PyQT5_download.tar.gz
      run: |
        powershell -NoProfile -ExecutionPolicy Bypass ^
            -Command Invoke-WebRequest "%url%" ^
            -OutFile "%TEMP%\%temp_file_name%" -UseBasicParsing
        @echo Extract downloaded archive '%temp_file_name%' to:
        @echo    '%target_path%'
        cd "%target_path%"\..
        tar -xf "%TEMP%\%temp_file_name%"
        @echo DEBUG: Checking directory content:
        dir
        cd "%target_path%"
        dir
    - name: Install C++ Pkg Mgr - Conan2 via pip
      run: |
        python -c "import sys;print(sys.path)"
        set PY_VENV_PATH
        call %PY_VENV_PATH%\Scripts\activate
        python -c "import sys;print(sys.path)"
        python -m pip install conan
        conan version
        @echo DEBUG: Checking current environment variables:
        set
    - name: Run Conan2 and create cmake build generators
      env:
        DEPS_CMAKE_GENERATORS: ${{ github.workspace }}\deps
      run: |
        @echo Conan2 was installed via Python venv, therefore need to activate it before use
        call %PY_VENV_PATH%\Scripts\activate
        conan profile detect --force
        conan install gnuradio/release --output-folder=%DEPS_CMAKE_GENERATORS% --build=missing
        echo DEPS_CMAKE_GENERATORS=%DEPS_CMAKE_GENERATORS%>> %GITHUB_ENV%
    - name: Build and install PyQT5
      run: |
        call "%msbuild_vcvars64%"
        set QT_ROOT_DIR
        set Qt5_DIR
        call %PY_VENV_PATH%\Scripts\activate
        python -m pip install PyQt-builder
        @echo Explicitly uninstall PyQt5 installed via requirements
        python -m pip uninstall -y PyQt5 PyQt5-Qt5
        @echo Activate conan runtime environment by calling DEPS_CMAKE_GENERATORS\build\generators\conanrun.bat 
        call %DEPS_CMAKE_GENERATORS%\build\generators\conanrun.bat
        cd %RUNNER_WORKSPACE%\PyQt5-5.15.11
        sip-install -h
        @echo Start codegen but disable QtNfc to avoid LNK1169 when linking QtNfc.dll
        @echo Alternativly may specifc LINK=/FORCE:MULTIPLE
        sip-build --no-make --confirm-license --disable QtNfc
        cd build && nmake
        nmake install
        python -m pip install PyQt5-sip
    # Clone and build Volk from scratch, because of unreliable python venv detection during "Build C++ dependencies"
    - name: Clone Volk
      uses: actions/checkout@v4
      with:
        repository: 'gnuradio/volk'
        ref: '308948abf8384bb4bf6467e14b585df708789782'
        path: volk
        fetch-depth: 2
        submodules: 'true'
    - name: Build Volk
      env:
        VOLK_INSTALL_DIR: ${{ runner.workspace }}\volk-installed
      run: |
        cd volk
        @echo Just in case explicitly initialize submodules
        git submodule update --init
        call "%msbuild_vcvars64%"
        call %PY_VENV_PATH%\Scripts\activate
        mkdir build
        cd build
        set CMAKE_ARGS= -DCMAKE_BUILD_TYPE=Release -LA
        set CMAKE_ARGS=%CMAKE_ARGS% -DCMAKE_PREFIX_PATH=%DEPS_CMAKE_GENERATORS%/build/generators
        set CMAKE_ARGS=%CMAKE_ARGS% -DCMAKE_INSTALL_PREFIX=%VOLK_INSTALL_DIR%
        @rem volk is using FindPythonInterp, which does not reliable detect venv
        set CMAKE_ARGS=%CMAKE_ARGS% -DPYTHON_EXECUTABLE=%PY_VENV_PATH%\Scripts\python.exe
        @echo Calling cmake from path '%CD%' with args '%CMAKE_ARGS%'
        cmake ..  -GNinja %CMAKE_ARGS%
        ninja
        @rem ninja test
        ninja install
        echo VOLK_INSTALL_DIR=%VOLK_INSTALL_DIR%>> %GITHUB_ENV%
    - name: Build C++ dependencies
      run: |
        echo %CD%
        call "%msbuild_vcvars64%"
        call %PY_VENV_PATH%\Scripts\activate
        @echo DEBUG: Checking current environment variables:
        set
        @echo Install additional python module for volk
        python -m pip install mako
        @echo Install additional python module for uhd
        python -m pip install mako numpy ruamel.yaml setuptools poetry
        set _working=%CD%
        mkdir cmake-deps
        robocopy /E /DCOPY:T /NJH /NFL /NDL /MT /W:5 /R:4 "gnuradio\release\deps" cmake-deps
        mkdir cmake-deps\tpls
        robocopy /NJH /NFL /NDL /MT /W:5 /R:4 "cmake-deps\deps" "cmake-deps\tpls" FetchAndBuild*.cmake
        cd cmake-deps
        mkdir build
        cd build
        cmake .. -GNinja  ^
            -DCMAKE_INSTALL_PREFIX=%DEPS_CMAKE_GENERATORS% -DCMAKE_PREFIX_PATH=%DEPS_CMAKE_GENERATORS%/build/generators ^
            -DCMAKE_FIND_PACKAGE_PREFER_CONFIG=ON "-DCMAKE_CXX_FLAGS=-DBOOST_ALL_NO_LIB /EHsc" -LA ^
            -DPYTHON_EXECUTABLE=%PY_VENV_PATH%\Scripts\python.exe -DBUILD_VOLK=NO
        ninja
    - name: Check environment before building GRC
      run: |
        echo working path=_%CD%_
        git status
        set MSYS2_LOCATION
        set MSYSTEM
        set PY_VENV_PATH
        dir %CD%
        dir %RUNNER_WORKSPACE%
        set
    - name: Building GRC binaries
      run: |
        call "%msbuild_vcvars64%"
        call %PY_VENV_PATH%\Scripts\activate
        SET PATH=%GTK_BIN_DIR%;%PATH%
        call %DEPS_CMAKE_GENERATORS%\build\generators\conanrun.bat
        @echo Step8: Building GRC binaries ...
        set GR_INSTALL_DIR=%PROGRAMFILES%\GNU Radio
        echo GR_INSTALL_DIR=%GR_INSTALL_DIR%>> %GITHUB_ENV%
        set UHD_DIR=%CD%\deps\uhd
        @echo Defining the environment variable UHD_DIR to allow UHDConfig.cmake
        @echo to detected the local UHD prefix at %UHD_DIR%
        set _working=%CD%
        cd gnuradio
        mkdir build
        cd build
        set GR_BUILD_DIR=%CD%
        echo GR_BUILD_DIR=%GR_BUILD_DIR%>> %GITHUB_ENV%
        cmake .. -GNinja -DGR_BUILD_INSTALLER=ON ^
            -DCMAKE_PREFIX_PATH=%_working%/deps/build/generators;%_working%/deps ^
            -DCMAKE_FIND_PACKAGE_PREFER_CONFIG=ON "-DCMAKE_CXX_FLAGS=-DBOOST_ALL_NO_LIB /EHsc" -LA ^
            -DVolk_DIR=%VOLK_INSTALL_DIR%/lib/cmake/volk -DGTK_BIN_DIR=%fps_GTK_BIN_DIR% ^
            "-DCMAKE_INSTALL_PREFIX=%GR_INSTALL_DIR%" ^
            -DPYTHON_EXECUTABLE=%PY_VENV_PATH%\Scripts\python.exe -DENABLE_TESTING=ON
        Ninja
        Ninja install
    - name: Running GRC Ninja test
      run: |
        call "%msbuild_vcvars64%"
        SET PATH=%GR_INSTALL_DIR%\bin;%GR_INSTALL_DIR%\python%PY_VENV_VERSION%;%GR_INSTALL_DIR%\python%PY_VENV_VERSION%\Scripts;%PATH%
        cd %GR_BUILD_DIR%
        @echo Run Ninja tests on installer environment
        Ninja test
    - name: Package GRC Installer
      run: |
        @echo Build installer
        cd %GR_BUILD_DIR%
        cpack
    - name: Bundle GRC build and install results
      if: success() || failure()
      run: |
        mkdir installation-archive.squash
        cd installation-archive.squash
        mkdir %RUNNER_WORKSPACE%\cmake-backup
        robocopy /MIR /NJH /NFL /NDL /MT /W:5 /R:4 "%GITHUB_WORKSPACE%\gnuradio\build" "%RUNNER_WORKSPACE%\cmake-backup" ^
            /XD "%GITHUB_WORKSPACE%\gnuradio\build\_CPack_Packages"
        del /Q "%RUNNER_WORKSPACE%\cmake-backup\*-AMD64.exe"
        tar -czf cmake-backup.gzip -C "%RUNNER_WORKSPACE%\cmake-backup" .
        robocopy /NJH /NDL /MT /W:5 /R:4 "%GITHUB_WORKSPACE%\gnuradio\build\_CPack_Packages\win64\NSIS" .
        tar -czf gnuradio.gzip -C "%PROGRAMFILES%\GNU Radio" .
        @echo DEBUG: Bundled outcome:
        dir
    - name: Upload build artifact archive
      if: success() || failure()
      uses: actions/upload-artifact@v4
      with:
        name: build artifact archive
        # already much better compressed
        compression-level: 0
        path:  ${{ github.workspace }}/installation-archive.squash
        if-no-files-found: warn
        # these things are kinda large, keep them around for 2 days: we can recreate them if we want
        retention-days: 7
    - name: Upload installation archive
      if: success()
      uses: actions/upload-artifact@v4
      with:
        name: installation archive
        # already much better compressed
        compression-level: 0
        path: ${{ github.workspace }}/gnuradio/build/*-AMD64.exe
        if-no-files-found: error
        # these things are kinda large, keep them around for 7 days: we can recreate them if we want
        retention-days: 7
